<% if election.user_created_at_max %>
<p class="sub-h3">Recuerda que para participar en la votación debes haberte inscrito en este portal antes del <%= l election.user_created_at_max, format: "%-d de %B de %Y a las %H:%M" %></p>
<% end %>
<p class="sub-h3">
<% if current_user.can_change_vote_location? and election.multiple_territories?%>
Accederás a la votación de<% case election.scope
     when 1 %> la comunidad autónoma en la
  <% when 2 %> la provincia en la
  <% when 3 %>l municipio en el 
  <% when 4 %> la isla en la
  <% end %> que <% if election.user_created_at_max %>estabas inscrito/a en el momento del cierre del censo.<% else %>estás inscrito/a. Puedes actualizar tu ubicación, pero recuerda que sólo tu último voto es válido.<% end %><% end %></p>

<div class="box-poll">
  <% if !election.requires_vatid_check? %>
    <div>
      <p class="poll-q">
        Recuerda que a partir del año que viene para votar deberás verificar tu identidad.
        Puedes hacerlo ahora pulsando en el siguiente botón.
      </p>
    </div>
    <span><%= link_to "Verificate aquí", new_user_verification_path, class: "button" %></span>
  <% end %>
  <div>
    <p class="poll-q"><%= election.full_title_for current_user %></p>
    <p class="date"><%= l election.starts_at, format: :short %> - <%= l election.ends_at, format: :short %></p>
  </div>
  <% if election.has_valid_location_for?(current_user) && election.has_valid_user_created_at?(current_user) %>
    <% if election.external_link.blank? %>
      <%= link_to create_vote_path(election_id: election.id), class: 'button button-vote' do %>
        <span>Votar</span>
      <% end %>
    <% else %>
      <%= link_to election.external_link, class: 'button button-vote' do %>
        <span>Votar</span>
      <% end %>
    <% end %>
  <% else %>
    <span class="button button-danger"><span>Censo cerrado</span></span>
  <% end %>
</div>
