<% content_for :title, "Herramientas de participación ciudadana" %>
<%= content_tag(:h2, "Herramientas de participación ciudadana") %>
<section class="tools">
  <ul>
    <li class="box-tool-large">
      <div class="box-tool-large">
        <h3>CENSO DE MILITANTES</h3>
        <div class="tool-text" style="padding-bottom: 1em;">
            <p>Si además de ser simpatizante militas en algún espacio de Podemos, regístrate aquí.
            <br/> Para más información dirígete a la Secretaría de Organización de tu comunidad autonómica.</p>

        </div><!--.tool-text-->

        <div class="buttonbox">
            <%= link_to "Registrate aquí", "https://participa.podemos.info/registro-censo-militantes", class: "button" %>
        </div>
      </div><!--.box-tool-->
    </li>
    <li class="box-tool">
      <div class="box-tool">
        <h3>Plaza Podemos</h3>
        <div class="tool-text">
            <p>El lugar oficial de encuentro y debate de Podemos: comparte materiales, opiniones, ideas, proyectos todo y mucho más.</p>
        </div><!--.tool-text-->

        <div class="buttonbox">
            <%= link_to "Ir a Plaza Podemos", "https://plaza.podemos.info", class: "button", target: "_blank" %>
        </div>
      </div><!--.box-tool-->
    </li>
    <li class="box-tool">
      <div class="box-tool">
        <h3>AppGree</h3>        
        <div class="tool-text">
            <p>La aplicación para opinar y proponer en tiempo real.</p>
        </div><!--.tool-text-->
        
        <div class="buttonbox">
            <%= link_to "Descargar APP", "http://www.appgree.com/descarga-appgree/", class: "button", target: "_blank" %>
        </div><!--.buttonbox-->
      </div><!--.box-tool-->
    </li>
    <li class="box-tool">
      <div class="box-tool">
        <h3>Equipos de Acción Participativa</h3>
        <div class="tool-text">
            <p>Nuestra intención es crear cientos de estos equipos, con el objetivo de dinamizar la participación y reforzar la movilización en los municipios.</p>
        </div><!--.tool-text-->        
        <div class="buttonbox">
            <%= link_to "Leer más", participation_teams_path, class: "button" %>
            <%= render partial: "participation_teams/wants_participation_buttons" %>
        </div><!--.buttonbox-->
      </div><!--.box-tool-->
    </li>
  </ul>
</section><!--.tools-->
