<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <% if @elections.count > 0 %>
        <%= render partial: 'elections' %>
      <% else %>
        <% if @upcoming_elections.count > 0 %>
          <%= render partial: 'election_upcoming', locals: { election: @upcoming_elections[-1] } %>
        <% elsif @finished_elections.count > 0 %>
          <%= render partial: 'election_finished', locals: { election: @finished_elections[-1] } %>
        <% elsif Date.today < Date.civil(2015,03,20) %>
          <%= render partial: 'demo' %>
        <% else %>
          <%= render partial: "other_tools" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
