<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <% if Election.actived.count > 0 %>
        <%= render partial: 'elections' %>
      <% else %>
        <% if Election.last and Election.last.is_upcoming? %>
          <%= render partial: 'election_upcoming', locals: { election: Election.last } %>
        <% elsif Election.last and Election.last.recently_finished? %>
          <%= render partial: 'election_finished', locals: { election: Election.last } %>
        <% else Date.today < Date.civil(2015,02,01) %>
          <%= render partial: 'demo' %>
        <% else %>
          <%= render partial: "other_tools" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
