<h2>
  <%= t("podemos.user.cancel_account") %>
</h2>

<section class="content-text">
  <p><%= t('podemos.user.cancel_account_explain_html') %></p>


  <% if current_user.recurrent_collaboration %>
    <%= error_box "Tienes una colaboración", false do %>
      <p> Dándote baja también darás de baja tu colaboración.  </p>
      <p> Si lo único que quieres dar de baja es tu colaboración <%= link_to  "puedes hacerlo aquí", edit_collaboration_path %>.  </p>
    <% end %>
  <% end %>

  <div class="buttonbox">
    <%=
        button_to(
                t("devise.buttons.cancel_account"),
                user_registration_path,
                data: {
                      confirm: t("devise.messages.cancel_account_confirmation"),
                }, 
                method: :delete, 
                class: "button button-danger"
        )
    %>
  </div>
</section>
