<div class="content-content cols">
  <br>
  <div class="row">
    <%= content_tag(:h2, t("podemos.user.change_password")) %>
    <%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
      <fieldset>
        <legend class="invisible">
          <span>Recuperar contraseña</span>
        </legend>
        <div class="inputlabel-box">
          <% if resource.errors.include?(:password) %>
            <%= field_notice_box %>
          <% end %>
          <%= f.input :password, input_html: {autocomplete: "off", class: 'input-m'}, label: "Contraseña nueva" %>
          </div>

          <div class="inputlabel-box">
            <% if resource.errors.include?(:password) %>
              <%= field_notice_box %>
            <% end %>
            <%= f.input :password_confirmation, input_html: {class: 'input-m'}, label: "Repetir contraseña nueva" %>
          </div>

          <div class="inputlabel-box">
            <% if resource.errors.include?(:password) %>
              <%= field_notice_box %>
            <% end %>
            <%= f.input :current_password,
              required: true,
              input_html: {class: 'input-m'} %>
              <p class="text-m">
                <%= t("devise.hints.current_password") %>
              </p>
            </div>
            <%= f.actions class: 'enter' do %>
              <%= f.action :submit, label: t("podemos.user.change_password"), button_html: {class: "button"} %>
            <% end %>
          </fieldset>
        <% end %>
      </div>
    </div>
