<%= content_tag(:h2, t("podemos.user.change_vote_circle"))%>
<%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)+"#circle", html: {novalidate: :true}) do |f| %>
  <fieldset xmlns="http://www.w3.org/1999/html">
    <div class="inputlabel-box">
      <% if resource.errors.include?(:vote_circle_id) %>
        <%= field_notice_box %>
      <% end %>

      <%= label :user, :vote_circle_id, class: "control-label", required: false do %>
        <%=t("activerecord.attributes.user.vote_circle") %>
      <% end %>
      <%= select_tag "user[vote_circle_id]", options_from_collection_for_select(get_vote_circles, "id", "original_name", @user[:vote_circle_id]), {disabled: !resource.can_change_vote_circle? && !@user.is_admin?, required: false, data: {allowClear: true}, include_blank: "Selecciona tu círculo."} %>
    </div>
    <div class="">
      <% if @user.errors.include?(:checked_vote_circle) %>
        <%= field_notice_box %>
      <% end %>
      <%= f.label :checked_vote_circle, class: 'text-xl' do %>
        <%= raw t 'podemos.user.vote_circle_check_box_text' %>
      <% end %>
      <div class="input-box">
        <%= f.check_box :checked_vote_circle, class: 'checkbox' %>
        <%= f.label :checked_vote_circle, class: 'text-xl' do %>
          <%= raw t 'podemos.user.vote_circle_check_box_text2' %>
        <% end %>
      </div>
    </div>

    <div class="inputlabel-box">
      </br>
      <%= f.input :current_password,
                  required: true,
                  hint: raw(t("devise.hints.current_password", :link => link_to(t("devise.links.here"), "#recover-password", class: "js-change-tab"))),
                  input_html: { class: 'input-m' } %>
    </div>
    <%= f.actions class: 'enter' do %>
      <%= f.submit t("devise.buttons.edit"), class: "button" %>
  <% end %>
  </fieldset>
<% end %>