<%= content_tag(:h2, t("podemos.user.change_circle"))%>
<%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)+"#circle", html: {novalidate: :true}) do |f| %>
  <fieldset xmlns="http://www.w3.org/1999/html">
    <div class="inputlabel-box">
      <% if resource.errors.include?(:circle_id) %>
        <%= field_notice_box %>
      <% end %>
      Listado de Círculos que estaban activos hasta la entrada en vigor de los nuevos documentos:
      <%= label :user, :circle_id, class: "control-label", required: false do %>
        <%=t("activerecord.attributes.user.circle") %>
      <% end %>
      <%= select_tag "user[circle_id]", options_from_collection_for_select(get_circles, "id", "original_name", @user[:circle_id]), { disabled: !resource.can_change_circle? && !@user.is_admin?, required: false, data: {allowClear: true},include_blank: "Selecciona tu círculo."} %>
      <p class="text-xl">(Una vez guardado el círculo no podrá ser cambiado en un período de un año, asegurate de que realmente te estas inscribiendo en el círculo que deseas.)</p>
    </div>

    <div class="inputlabel-box">
      </br>
      <%= f.input :current_password,
                  required: true,
                  hint: raw(t("devise.hints.current_password", :link => link_to(t("devise.links.here"), "#recover-password", class: "js-change-tab"))),
                  input_html: { class: 'input-m' } %>
    </div>
    <%= f.actions class: 'enter' do %>
      <% confirm_data = {confirm: "Si guardas los datos ahora no podrás volver a cambiar el círculo hasta dentro de un año, ¿seguro que quieres inscribirte en el círculo seleccionado?"} %>
      <%= f.submit t("devise.buttons.edit"), class: "button", data: confirm_data %>

  <% end %>
  </fieldset>
<% end %>