<%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>
  <%= f.input :first_name, required: true, input_html: {autofocus: true, required: true} %>
  <%= f.input :last_name, required: true, input_html: {required: true} %>
  <%= f.input :document_type, required: true, as: :radio, collection: User::DOCUMENTS_TYPE, input_html: {required: true, class: 'js-registration-document'} %>
  <div class="js-registration-document-wrapper hidden">
    <%= f.input :document_vatid, required: true, input_html: {required: true} %>
  </div>
  <p class="js-registration-document-passport help-block hidden">
    <%= t('podemos.registration.passport') %>
  </p>
  <%= f.input :born_at, required: true, input_html: {required: true}, start_year: 1920, end_year: 2015 %>
  <%= f.input :email, required: true, input_html: {required: true} %>
  <% if action == "new" %>
    <%= f.input :password, required: true, input_html: {required: true} %>
    <%= f.input :password_confirmation, required: true, input_html: {required: true} %>
  <% end %>
  <%= f.inputs t("podemos.home_address") do %>
  <%= f.input :address, required: true, input_html: {required: true} %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :town, required: true, input_html: {required: true} %>
      <%= f.input :postal_code, required: true, input_html: {required: true} %>
    </div>
    <div class="col-md-6">
      <div class="js-registration-province hidden"><%= f.object.province %></div>
      <%= render partial: 'subregion_select', locals: {parent_region: f.object.country, subregion: f.object.province} %>
      <%= f.input :country, required: true, input_html: {required: true, class: "js-registration-country"} %>
    </div>
  </div>
  <% end %>
  <%= f.input :wants_newsletter, required: true, input_html: {checked: 'checked'} %>
  <% if action == "new" %>
    <%= f.input :terms_of_service, as: :boolean, required: true %>
    <small>
    <h3> <%= t('podemos.registration.terms_of_service.title')%> </h3>
    <p> <%= t('podemos.registration.terms_of_service.p1')%> </p>
    <p> <%= t('podemos.registration.terms_of_service.p2_html')%> </p>
    </small>
    <%= f.actions do %>
      <%= f.action :submit, label: t("devise.buttons.sign_up"), button_html: {class: "btn btn-primary"} %>
    <% end %>
  <% end %>
  <% if action == "edit" %>
    <%= f.input :current_password, required: true, hint: t("devise.hints.current_password") %>
    <%= f.actions do %>
      <%= f.action :submit, button_html: {class: "btn btn-primary"} %>
    <% end %>
  <% end %>
<% end %>
