<div id="js-registration-user_<%=field%>-wrapper" class="input required form-group">
  <%= label :user, :town, class: "control-label", required: :required do %>
    <%= title %>
    <% if required %><abbr title="requerido">*</abbr><% end %>
  <% end %>
    <span class="form-wrapper">
    <% towns = get_towns(country, province) %>
    <% if province=="-" || towns.length>0 %>
        <%= select_tag "user[#{field}]", "<option></option>".html_safe+options_from_collection_for_select(towns, "code", "name", town), {disabled: disabled, required: required, data: {placeholder: "-- Elige un municipio --"} } %>
    <% else %>
      <%= text_field(:user, field, class: "input-xl form-control") %>
    <% end %>
    </span>
</div>