<%= content_tag(:h2, t("podemos.user.wants_info_by_sms"))%>
<%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)+"#wants-info-by-sms", html: {novalidate: :true}) do |f| %>
  <fieldset>
  <div class="inputlabel-box">
    <% if resource.errors.include?(:born_at) %>
      <%= field_notice_box %>
    <% end %>
    <%= f.check_box :wants_information_by_sms, class: 'checkbox' %>
    <%= f.label :wants_information_by_sms, class: 'text-xl' do %>
      <%= t 'podemos.user.wants_info_by_sms_text'%>
    <% end %>
    <p></p>
    <p class="text-xl">(Si desactivas la casilla, dejarás de recibir SMS de tipo informativo, sobre votaciones en curso o sobre eventos de Podemos, pero seguirás recibiendo los SMS que utilizamos como medida de seguridad para acceder a las cabinas de votación)</p>
    <%= f.input :current_password,
                required: true,
                hint: raw(t("devise.hints.current_password", :link => link_to(t("devise.links.here"), "#recover-password", class: "js-change-tab"))),
                input_html: { class: 'input-m' } %>
  </div>
  <%= f.actions class: 'enter' do %>
    <%= f.action :submit, label: t("devise.buttons.edit"), button_html: {class: "button"} %>
  <% end %>
  </fieldset>
<% end %>


