<%= content_for :title, t("podemos.user.personal_data") %>
<br>
<br>

<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#personal-data" role="tab" data-toggle="tab"><%= t("podemos.user.personal_data")%></a></li>
        <li><a href="#change-password" role="tab" data-toggle="tab"><%=t("podemos.user.change_password") %></a></li>
        <li><a href="#change-email" role="tab" data-toggle="tab"><%=t("podemos.user.change_email") %></a></li>
        <li><a href="#change-phone" role="tab" data-toggle="tab"><%=t("podemos.user.change_phone") %></a></li>
        <li><a href="#cancel-account" role="tab" data-toggle="tab"><%= t("podemos.user.cancel_account") %></a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="personal-data"> <%= render partial: 'personal_data' %> </div>
        <div class="tab-pane" id="change-password"> <%= render partial: 'change_password' %> </div>
        <div class="tab-pane" id="change-email"> <%= render partial: 'change_email' %> </div>
        <div class="tab-pane" id="change-phone"> <%= render partial: 'change_phone' %> </div>
        <div class="tab-pane" id="cancel-account"> <%= render partial: 'cancel_account' %> </div>
      </div>
    </div>
  </div>
</div>
