<% content_for :title, t("devise.titles.sign_up") %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <%= content_tag(:h2, t("devise.titles.sign_up")) %>
      <%= alert_box "Importante" do %>
     <p>El censo válido para la votación del proceso interno en Galicia está cerrado desde el día 5 de abril de 2016 a las 16h00. Si todavía no estás inscrito/a no podrás participar en esta votación.</p>
      <% end %>
      <%= alert_box "Importante" do %>
     <p>El censo válido para las consultas sobre los pactos está cerrado desde el día 2 de abril de 2016 a las 10h00. Si todavía no estás inscrito/a no podrás participar en esta votación.</p>
      <% end %>
      <%= info_box do %>
          <p><%= t('podemos.registration.p1_html') %></p>
      <% end %>
      <%= errors_in_form resource %>
      <%= render partial: "form", locals: {action: "new"} %>
    </div>
  </div>
</div>
