<% @title ||= t("devise.titles.sign_up") %>

  <div class="col-md-5">
    <div class="well">
      <p>
      Rellenando este formulario con tus datos y pasarás a formar parte del censo de inscritos de Podemos, desde el que se realizarán a partir de ahora todas las votaciones. Es un procedimiento sencillo y rápido que te permitirá ser parte activa de la comunidad Podemos. Juntos Podemos, claro que podemos.
      </p>
      <p>
      Completa el siguiente formulario para registrarte en PODEMOS. Tus datos se asociarán a un teléfono móvil, en el que recibirás un SMS con tu código de verificación para validar la inscripción. Al finalizar el registro, te enviaremos un correo electrónico de confirmación. Si te equivocas en alguno de tus datos, puedes completar el formulario otra vez con tu código y se sobrescribirán, el sistema evita duplicados de registro.
      </p>

      <p><b> ¿Es seguro el sistema de inscripción?  </b></p>

      <p>
      Totalmente. Hemos intentado buscar el equilibrio entre seguridad y facilidad del proceso, cada inscripción es asociada a un teléfono móvil al que se envía automáticamente el código de verificación personal. Nuestros equipos informáticos han trabajado en el desarrollo de un sistema seguro, fiable y de fácil acceso para todas y todos.
      </p>

      <p>
      *El código de verificación no es la contraseña de la Plaza Podemos. Lee este manual para saber como registrarte y participar en ella.
      </p>
    </div>
  </div>
  <div class="col-md-5">
    <%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.input :first_name, required: true, input_html: {autofocus: true, required: true} %>
    <%= f.input :last_name, required: true, input_html: {required: true} %>
    <%= f.input :document_type, required: true, as: :radio, collection: User::DOCUMENTS_TYPE, input_html: {required: true, class: 'js-registration-document'} %>
    <div class="js-registration-document-wrapper hidden">
      <%= f.input :document_vatid, required: true, input_html: {required: true} %>
    </div>
    <div class="js-registration-document-passport hidden">
      Envía una copia de tu pasaporte a partido@podemos.info para validar la inscripción.
    </div>
    <%= f.input :born_at, required: true, input_html: {required: true}, start_year: 1920, end_year: 2015 %>
    <%= f.input :email, required: true, input_html: {required: true} %>
    <%= f.inputs t("podemos.home_address") do %>
      <%= f.input :address, required: true, input_html: {required: true} %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :town, required: true, input_html: {required: true} %>
        <%= f.input :postal_code, required: true, input_html: {required: true} %>
      </div>
      <div class="col-md-6">
        <%= render partial: 'subregion_select', locals: {parent_region: f.object.country} %>
        <%= f.input :country, required: true, input_html: {required: true, class: "js-registration-country"}, selected: "ES" %>
      </div>
    </div>
  <% end %>
    <%= f.input :password, required: true, input_html: {required: true} %>
    <%= f.input :password_confirmation, required: true, input_html: {required: true} %>
    <%= f.input :wants_newsletter, required: true, input_html: {checked: 'checked'} %>
    <%= f.input :terms_of_service, as: :boolean, required: true %>
    <%= render partial: "terms_of_service" %>
    <%= f.actions do %>
      <%= f.action :submit, label: t("devise.buttons.sign_up"), button_html: {class: "btn btn-primary"} %>
  <% end %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
