<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
<style>
  @font-face {
    font-family: 'Centra-Medium';
    src: url(<%= asset_path("CentraNo1-Medium.ttf") %>) format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Centra-Bold';
    src: url(<%= asset_path("CentraNo1-Bold.ttf") %>) format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  .qr_bg {
      position: fixed;
      top: 0;
      left: 50%;
      width: 500px;
      margin-left: -250px;
      height: auto;
  }
  .qr_line{
    width: 14em;
  }
  .qr_container {
    position: relative;
    left: 50%;
    width: 350px;
    margin-left: -175px;
  }
  .qr_logo{
    display: block;
    width: 80%;
    margin: auto;
    padding-top: 1.5em;
  }

  .qr_foot_logo{
    font-family: "Centra-Medium";
    font-size: 20px;
    margin: auto;
    padding-top: 5px;
    color: #eec575;
    text-align: center;
  }
  .qr_label{
      font-family: "Centra-Medium";
      font-size: 25px;
      width:80%;
      color: #eec575;
      text-align: left;
  }

  .qr_text{
      font-family: "Centra-Bold";
      font-size: 25px;
      width:80%;
      color: white;
      text-align: left;
  }
  .box_qr_code {
      display: block;
      width: 30%;
      background-color: white;
      margin:auto;
      min-width: 294px;
      border: 3px solid white;
      padding: 10px;
  }


  .qr_back {
    font-family: "Centra-Bold";
    font-size: 25px;
    margin: auto;
    width: 20%;
    display: block;
    padding: 1em 3em 1em 2em;
    background: #97c2b8;
    color: #fff;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
  }
  .qr_back:hover{
      background:#269283;
  }

</style >
<%= image_tag "qr_bg.jpg", alt: "PODEMOS", class:"qr_bg" %>
<div class="qr_container">
  <%= image_tag "logo.podemos-220-w.png", alt: "PODEMOS", class:"qr_logo" %>
  <div class="qr_foot_logo">Carnet virtual de militante</div>
  <p class="qr_label">Nombre:<br><span class="qr_text"><%=@user.full_name %></span>
    <br>
    <span><%= image_tag "qr-line-or-gr.png", class:"qr_line" %></span>
  </p>
  <p class="qr_label">DNI/NIE/Pasaporte:<br><span class="qr_text"><%=@user.document_vatid %></span>
    <br>
    <span><%= image_tag "qr-line-gr-or.png", class:"qr_line" %></span>
  </p>
  <div class="box_qr_code">
    <%= @svg.html_safe %>
  </div>
  <p class="qr_label">El código caduca en:<br>
    <span id="countdown" class="qr_text"></span>
  </p>
  <div>
    <%= link_to fa_icon("chevron-circle-left", text:'Volver'), :back, class: "qr_back" %>
  </div>
</div>
<script>
  var countDownDate = new Date("<%=@date_end %>").getTime();
  var x = setInterval(function() {

    var now = new Date().getTime();
    var distance = countDownDate - now;
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
      + minutes + "m " + seconds + "s ";

    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdown").innerHTML = "QR EXPIRADO, pulse el botón para generar un nuevo código QR";
    }
  }, 1000);
</script>
