<%= semantic_form_for [:admin, @microcredit_option.microcredit, @microcredit_option], builder: Formtastic::FormBuilder do |f| %>
  <%= f.inputs "Identificación" do %>
    <%= f.input :microcredit_id, as: :string, input_html: { disabled: true } %>
    <%= f.input :parent %>
    <%= f.input :name %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit %>
    <li class="cancel"><%= link_to "Cancel", [:admin, @microcredit_option.microcredit ] %></li>
  <% end %>
<% end %>