<h2><%=@microcredit.title %></h2>
<%= semantic_form_for [:admin, @microcredit_option.microcredit, @microcredit_option], builder: Formtastic::FormBuilder do |f| %>
  <%= f.inputs "Identificación" do %>
    <%= f.input :parent_id %>
    <%= f.input :name %>
    <%= f.input :intern_code %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit %>
    <li class="cancel"><%= link_to "Cancel", [:admin, @microcredit_option.microcredit ] %></li>
  <% end %>
<% end %>