<!DOCTYPE html>
<html>
<head>
    <title>Microcrédito</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <%= wicked_pdf_stylesheet_link_tag "microcredit.print.css" %>
    <style type="text/css">
        .grey {background: #ddd;}
        div {padding:10px; line-height:2;}
        .microcreditos {font-size:17px;padding:30px;}
    </style>
</head>
  <body>
        <div class="microcreditos">
            <div style="width:100%;">
                <%= wicked_pdf_image_tag "logo.podemos-425-p.jpg", style: "float:left; width:40%;"%>
            </div>
            <p style="clear:both">Para formalizar el microcrédito es necesario efectuar la siguiente transferencia en las próximas 24 horas con los siguientes datos:</p>
           <div class="grey"><strong>Beneficiario</strong><br>PODEMOS</div>
            <div><strong>Banco</strong><br>Fiare Banca Ética</div>
            <div class="grey"><strong>Número de cuenta</strong><br><%=@microcredit.account_number%></div>
            <div><strong>Importe</strong><br><%=@loan.amount%>€</div>
            <div class="grey"><strong>Concepto del ingreso </strong><br><%=@loan.id%>-<%=@microcredit.title%></div>
            <br>
            <p><br> Muchas gracias por colaborar. El cambio empieza gracias a ti.</p>
        </div>
  </body>
</html>
