<% content_for :title, t('microcredit.common.title', name: @brand_config["name"]) %>
<% if @brand_config["color1"] %>
  <style>
    h2 {
      color: <%=@brand_config["color1"]%> !important;
    }

    label a, p a {
      color: <%=@brand_config["color2"]%> !important;
    }

    input.button, a.button {
      background-color: <%=@brand_config["color2"]%> !important;
    }
  </style>
<% end %>
<div class="content-content">
  <h2><%= t 'microcredit.common.title', name: @brand_config["name"] %></h2>
  <p><%= t 'microcredit.common.help_us', name: @brand_config["name"] %> <%= link_to t('microcredit.common.more_info'), (@brand_config["info_link"] || microcredits_info_path), target: "_top" %></p>
  <% if @microcredits_standard.length == 0 %>
    <% if @upcoming_microcredits_standard.count > 0 %>
      <h3><%= @microcredit_index_upcoming_text %></h3>
      <p><%= t '.will_start_at', name: @brand_config["name"], hour: @upcoming_microcredits_standard.first.starts_at.strftime("%H:%M"), date: @upcoming_microcredits_standard.first.starts_at.strftime("%d/%m") %></p>
    <% elsif @finished_microcredits_standard.count > 0 %>
      <h3><%= t 'microcredit.common.has_finished' %></h3>
      <p><%= t('microcredit.common.campaign_results', total: number_to_euro(@finished_microcredits_standard.map {|m| m.campaign_confirmed_amount * 100}.sum, 0)).html_safe %></p>
    <% else %>
      <h3><%= t '.no_campaigns' %></h3>
      <p><%= t '.no_campaigns_message' %></p>
    <% end %>
  <% else %>
    <div class="microcredit_boxes">
      <% @microcredits_standard.each do |m| %>
        <section class="<%= m.completed ? 'completed' : 'active' %>">
          <div>
            <% if m.remarked %>
              <p class="microcredit_box_header"><strong><%= m.title %></strong></p>
            <% else %>
            <h2><%= m.title %></h2>
            <% end %>
            <% if m.completed %>
              <%= fa_icon "check-circle" %>
              <div class="info">
                <p><strong><%= t '.success' %></strong></p>
                <p><%= t('microcredit.common.campaign_results', total: number_to_euro(m.campaign_confirmed_amount * 100, 0)).html_safe %></p>
              </div>
            <% else %>
              <div class="js-mc-graph" data-color1="<%= @brand_config['color1'] %>" data-color2="<%= @brand_config['color2'] %>">
                <div></div>
                <canvas width="90" heigth="100"></canvas>
                <div alt="<%= m.phase_counted_amount %>€" class="hide js-mc-total"><%= m.phase_counted_amount %>
                  €
                </div>
                <div alt="<%= t '.remaining' %>" class="hide js-mc-pending"><%= m.phase_limit_amount - m.phase_counted_amount %>
                  €
                </div>
              </div>
              <div class="info">
                <p>
                  <strong><%= t '.current_phase' %></strong><br/><%= number_to_euro m.phase_counted_amount * 100, 0 %>
                  / <%= number_to_euro m.phase_limit_amount * 100, 0 %>
                  <br/><strong><%= t '.accumulated' %></strong> <%= number_to_euro m.campaign_counted_amount * 100, 0 %>
                  <% if !m.budget_link.empty? %>
                    <br/><a href="<%= m.budget_link %>">PRESUPUESTO</a>
                  <% end %>
                </p>
                <%
                  if m.subgoals
                    remaining = m.campaign_counted_amount || 0 %>
                  <ul class='subgoals'>
                    <%
                      m.subgoals.each do |concept, subgoal| %>
                      <li><%= concept %>
                        :&nbsp;<%= number_to_euro (remaining > subgoal ? subgoal : remaining) * 100, 0 %></li>
                    <%
                      remaining -= subgoal
                      if remaining <= 0 then
                        break
                      end
                      end %></ul>
                <%
                  end %>
                <div class="buttonbox"><%= link_to t('.want_to_collaborate'), @external ? new_microcredit_loan_path(m, brand: @brand) : new_microcredit_loan_path(m), class: 'button' %>
                <% if m.microcredit_options.any? %>
                  <%= link_to "Ver desglose", @external ? show_microcredit_options_detail_path(m, brand: @brand) : show_microcredit_options_detail_path(m), class: 'microcredit_link_detail' %>
                <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </section>
      <% end %>
    </div>
  <% end %>

  <% if @microcredits_mailing.length > 0 or @upcoming_microcredits_mailing.length > 0 or @finished_microcredits_mailing.length > 0 %>
  <h2><%= t 'microcredit.mailing.title', name: @brand_config["name"]%></h2>
  <p><%= t 'microcredit.mailing.help_us', name: @brand_config["name"]%> <%= link_to t('microcredit.common.more_info'), (@brand_config["mailing_info_link"] || microcredits_info_mailing_path), target: "_top" %></p>
<% end %>

  <% if @microcredits_mailing.length == 0 %>
    <% if @upcoming_microcredits_mailing.count > 0 %>
      <h3><%= t '.will_start' %></h3>
      <p><%= t '.will_start_at', name: @brand_config["name"], hour: @upcoming_microcredits_mailing.first.starts_at.strftime("%H:%M"), date: @upcoming_microcredits_mailing.first.starts_at.strftime("%d/%m") %></p>
    <% elsif @finished_microcredits_mailing.count > 0 %>
      <h3><%= t 'microcredit.common.has_finished' %></h3>
      <p><%= t('microcredit.common.campaign_results', total: number_to_euro(@finished_microcredits_mailing.map {|m| m.campaign_confirmed_amount * 100}.sum, 0)).html_safe %></p>
    <% end %>
  <% else %>
    <div class="microcredit_boxes">
      <% @microcredits_mailing.each do |m| %>
        <section class="<%= m.completed ? 'completed' : 'active' %>">
          <div>
            <h2><%= m.title %></h2>
            <% if m.completed %>
              <%= fa_icon "check-circle" %>
              <div class="info">
                <p><strong><%= t '.success' %></strong></p>
                <p><%= t('microcredit.common.campaign_results', total: number_to_euro(m.campaign_confirmed_amount * 100, 0)).html_safe %></p>
              </div>
            <% else %>
              <div class="js-mc-graph" data-color1="<%= @brand_config['color1'] %>" data-color2="<%= @brand_config['color2'] %>">
                <div></div>
                <canvas width="90" heigth="100"></canvas>
                <div alt="<%= m.phase_counted_amount %>€" class="hide js-mc-total"><%= m.phase_counted_amount %>
                  €
                </div>
                <div alt="<%= t '.remaining' %>" class="hide js-mc-pending"><%= m.phase_limit_amount - m.phase_counted_amount %>
                  €
                </div>
              </div>
              <div class="info">
                <p>
                  <strong><%= t '.current_phase' %></strong><br/><%= number_to_euro m.phase_counted_amount * 100, 0 %>
                  / <%= number_to_euro m.phase_limit_amount * 100, 0 %>
                  <br/><strong><%= t '.accumulated' %></strong> <%= number_to_euro m.campaign_counted_amount * 100, 0 %>
                  <% if !m.budget_link.empty? %>
                    <br/><a href="<%= m.budget_link %>">PRESUPUESTO</a>
                  <% end %>
                </p>
                <%
                  if m.subgoals
                    remaining = m.campaign_counted_amount || 0 %>
                  <ul class='subgoals'>
                    <%
                      m.subgoals.each do |concept, subgoal| %>
                      <li><%= concept %>
                        :&nbsp;<%= number_to_euro (remaining > subgoal ? subgoal : remaining) * 100, 0 %></li>
                    <%
                      remaining -= subgoal
                      if remaining <= 0 then
                        break
                      end
                      end %></ul>
                <%
                  end %>
                <div class="buttonbox"><%= link_to t('.want_to_collaborate'), @external ? new_microcredit_loan_path(m, brand: @brand) : new_microcredit_loan_path(m), class: 'button' %></div>
              </div>
            <% end %>
          </div>
        </section>
      <% end %>
    </div>
  <% end %>
  <% if !@external %>
    <p>¿Deseas realizar una colaboración periódica o modificar la que ya
      tienes? <%= link_to "Accede a la sección de colaboraciones", new_collaboration_path %></p>
  <% end %>
</div>
