<% content_for :title, "Mikrokredituak" %>

<div class="content-content cols microcredits-wrapper">
  <div class="row">
    <div class="col-b-4a12">
      <h2>Podemos Mikrokredituak</h2>
      <p><%= image_tag "microcredits.jpg", alt: "Vamos a financiar la campaña con microcréditos concedidos por la gente. ¿Nos ayudas?", align: "center", width: "90%" %></p>
      <h3>Abuztuak 22tik aurrera</h3>
      <p>Podemos-Ahal Duguko finantzaketak beste alderdietatik ezberdintzen gaituzten hiru ezaugarri nagusi ditu:</p>
      <ul>
        <li><strong>Independentzia:</strong> Banku krediturik eskatzen ez dituen Estatu mailako lehenengo indar politikoa gara. Podemos-Ahal Dugun ez dugu banketxeen edota botere ekonomikoen menpe egon nahi, horregatik, gure helburua kolaboratzaile eta emaile oinarria ahalik eta gehien zabaltzea izan da.</li>
        <li><strong>Berrikuntza:</strong> Emaile oinarria zabaltzeko gure helburua ahalbidetzen duten finantzaketa bide berriak garatzea izan da apustua hasieratik. Bide hauek crowdfunding, crowdlending, derrigorrezkoak ez diren aldizkako ekarpenak edo mikrokredituak moduko web tresnetan oinarritu dira.</li>
        <li><strong>Gardentasuna:</strong> Podemos-Ahal Dugun instituzioetan ikusi nahi dugun gardentasuna praktikatzen dugu. Gure estatututan hiruhileko bakoitzeko kontuak webgunean argitaratzeko konpromisoa hartzen dugu eta urtero gure finantzen Kanpo Auditoria bat burutzen dugu.  Jendeak emandako sustapen ekonomikoaren truk, guk, aldaketan inbertitzen duten euro bakoitza erakusteko konpromisoa hartzen dugu. Nahi duenak gastu eta diru-sartzeak, soldatak, ondasun aitorpenak eta kargu publikoen egitarauak ikus ditzake. Hau dela eta, Podemos-Ahal Dugu finantzaketa kontrolerako hiru mekanismo dituen alderdi bakarra da: Kontu Auzitegia, kanpo Auditoria eta hiritarren kontrola. Zentzu horretan, bi urteko bizitzarekin, Podemos-Ahal Duguren gardentasun neurriak nazioarteko erreferentzia bilakatu dira. <a href="https://podemos.info/blog-de-transparencia/">Informazio gehiago</a>. </li>
      </ul>
      <p>Euskadiko hauteskunde autonomikoak direla eta, abuztuak 22an <strong>Podemos Mikrokredituak</strong> aterako ditugu. Zure laguntzarekin hauteskunde kanpainak finantzatu ditzazkegu bankuekin zorretan egon gabe. Podemos-Ahal Dugun ezberdinak gara ezberdin funtzionatzen dugulako, zuri esker.</p>
      <p><%= image_tag "microcredits2.jpg", alt: "¿Micro-qué?" %></p>
      <p>Mikrokredituen bitartez hiritarrei Podemos-Ahal Dugu alderdi politikoari <strong>mailegu zibila</strong> egiteko aukera eskaintzen diegu, horrela, hauteskunde kanpaina ordain dezakegu. Zure laguntzarekin finantzatu nahi dugu kanpaina. 100 eta 10.000 euroren arteko ekarpena egin dezakezu, hauteskunde subentzioa jasotzerakoan, hauteskundeak eta sei hilabete barru gutxi gora-behera, dirua bueltatuko dizugu.</p>
      <p><%= image_tag "microcredits3.jpg", alt: "Ados, Zer egin behan dut orain?", width: "90%" %></p>
      <ol>
        <li>Formularioa osa ezazu microcreditos.podemos.info helbidean eta 100 eta 10.000 euroren arteko diru kopurua aukera ezazu.</li>
        <li>Posta elektronikoz jasoko duzun inskripzio kodea gorde eta inprima ezazu.</li>
        <li>Ordainagirian agertzen den kontu korrontera transferentzia bate gin ezazu eta kontzeptu bezala zure kodea jar ezazu. </li>
        <li>Hauteskunde subentzioa jasotzerakoan dirua bueltatuko dizugu.</li>
      </ol>
      <p><%= image_tag "logo.podemos-425-p.jpg", alt: "Podemos.", width: "30%" %></p>
      <p>Orokorrean, alderdi politikoek hauteskunde kanpainak hiru eratara ordaintzen dituzte:</p>
      <ul>
        <li>Mota berdineko aurreko hauteskundeetan lortutako emaitzetan oinarrituriko hauteskunde subentzioen diru aurreratzearen bitartez.</li>
        <li>Banku kredituen bitartez.</li>
        <li>Alderdiaren ohiko diruaren bitartez.</li>
      </ul>
      <p>Subentzioak hauteskunde prozesua eta gero banatzen dira lortutako emaitzen arabera, muga kanpainan zehar gastatutako diru kopurua da.</p>
      <p>Eredu honek, hauteskunde kanpainak finantzatzeko banketxeei maileguak eskatzera behartzen ditu alderdiak. Ondorioz, beraien funtzionamendua baldintzatu dezakeen zorra izaten dute. </p>
      <p><a href="https://files.podemos.info/ZLUy4btG7R">Kontu Auzitegiaren azkenengo informearen arabera</a> (julio de 2015), (2015eko uztaila), 2013. Urtean Espainiako alderdi politikoek 205 milioi eurotako zorra pilatzen zuten kreditu entitateekin. PP eta PSOEren artean bakarrik, 120 milioietako zorra batzen zuten banketxeekin. Podemos-Ahal Duguk banketxeekin 0 eurotako zorra du. Hau ez da anekdota hutsa: Espainiako alderdi politiko zaharrek historikoki izan dituzte zorrak, ezin ordaindu zitezkeen zorrak onartu dituzte, eta gero hauek birnegoziaturik edo barkaturik izan behar dira. Honek guztiak ekintza politikorako ahalmena kendu die.</p>
      <p><strong>Banku krediturik ez eskatzeko</strong>, Podemos-Ahal duguko Hiritar Asanbladan hartutako erabakia, gure kode etikoan islatzen dena, parte-hartze eta laguntza ekonomiko eredu berriak esploratzera eraman gaitu. Eredu hauek alderdi finantzaketa sistemak sustatu duen zorpetzera bideraturiko eredua ekiditea baimentzen dute.</p>
      <p>Mikrokredituen bitartez hiritarrei Podemos-Ahal Dugu alderdi politikoari <strong>mailegu zibila</strong> egiteko aukera eskaintzen diegu, horrela, Euskadiko hauteskunde kanpaina autonomikoa ordain dezakegu.</p>
      <p>Horretarako, hauteskunde gastuei dagokion subentzioa kalkulatu dugu emaitza aurreikuspen kontserbadore batean oinarriturik, horrela, subentzioaren bitartez jasotako diru guztia bueltatu dezakegu.</p>
      <p>Behin <strong>subentzioa</strong> aso dugunean, <strong>hau guztia, zuzenean eta pribilegiaturik maileguak bueltatzera</strong> bideratuko da. </p>
      <p>Subentzio osoa jasotako mailegua baino baxuagoa izaten bada, nekez gerta daitekeena, hamabi hilabetetako epean proportzionalki bueltatuko dugu dirua. Banca Ética Fiare entitateak prozesu osoan zehar laguntza teknikoa emango du eta hau gainbegiratuko du.</p>
      <div class="buttonbox">
        <%= link_to "Lagundu", microcredit_path, class: 'button' %>
      </div>
      <p><br/></p>
      <p>Informazio gehiago behar baduzu, bidali itzazu zure zalantzak <a href="mailto:microcreditos@podemos.info">microcreditos@podemos.info</a> helbidera.</p>
    </div>
  </div>
</div>


