<% content_for :title, "Microcréditos" %>

<div class="content-content cols microcredits-wrapper">
  <div class="row">
    <div class="col-b-4a12">
      <h2>Microcréditos Podemos</h2>
      <p><%= image_tag "microcredits.jpg", alt: "Vamos a financiar la campaña con microcréditos concedidos por la gente. ¿Nos ayudas?", align: "center", width: "90%" %></p>
      <h3>Desde el 21 de Noviembre</h3>
      <p>La financiación de Podemos se caracteriza por tres elementos que nos diferencian del resto de partidos:</p>
      <ul>
        <li><strong>Independencia:</strong> En Podemos no queremos depender de bancos ni de los poderes económicos y por eso nuestro objetivo ha sido ampliar al máximo la base de donantes y colaboradores. En total en todas las campañas electorales conseguimos recaudar  <strong>6187900€</strong> mediante microcréditos de 100€ , 500€  y 1000€ y todos y <strong>cada uno de los préstamos han sido devueltos en su totalidad</strong>.
          <p><%= image_tag "microcredits4.jpg", alt: "#ContigoSinBancos", align: "center", width: "90%" %></p></li>
        <li><strong>Innovación:</strong> Para conseguir ampliar la base de donantes apostamos desde el inicio por desarrollar vías de financiación innovadoras que posibilitaran nuestro objetivo. Estas vías de financiación se han basado en herramientas web como el crowdfunding, los microcréditos o las colaboraciones periódicas no obligatorias. Además somos el único partido que no admite dinero en efectivo.</li>
        <li><strong>Transparencia:</strong> En Podemos practicamos la transparencia que queremos ver en las instituciones. En nuestros estatutos nos comprometimos a publicar nuestras cuentas en la web. A cambio de pedirle a la gente que nos apoye económicamente nos comprometemos a enseñar a todo el mundo hasta el último euro que invierten en el cambio. </li>
        <li>Todo el trabajo basado en estos tres principios, no solo nos ha permitido ser más austeros y eficaces en nuestras campañas si no que nos ha ayudado a ahorrar a las arcas públicas cerca de 15 millones de euros.</li>
      </ul>
      <p><%= image_tag "microcredits5.jpg", alt: "#SinDeudasPodemos", align: "center" %></p></li>
      <p>Con motivo de las elecciones autonómicas del próximo 21 de diciembre lanzamos de nuevo los microcréditos Podemos. Con tu ayuda queremos financiar las campañas electorales sin endeudarnos con los bancos. En Podemos somos diferentes porque funcionamos diferente, solo dependemos de ti.</p>
      <p><%= image_tag "microcredits2.jpg", alt: "¿Micro-qué?" %></p>
      <p>Mediante los Microcréditos ofrecemos a la ciudadanía la posibilidad de hacer un <strong>préstamo civil</strong> al Partido Político PODEMOS con vistas a sufragar los gastos electorales de la próxima campaña autonómica en Catalunya.  Con tu  ayuda queremos financiar esta campaña electoral. Puedes aportar entre 100 y 10 mil euros que te devolveremos cuando recibamos la subvención electoral correspondiente a los resultados electorales, en junio de 2018.</p>
      <p><%= image_tag "microcredits6.jpg", alt: "¿Cómo lo hago?", align: "center" %></p></li>
      <p>Normalmente los partidos políticos sufragan sus campañas electorales de tres formas:</p>
      <ul>
        <li>Mediante anticipos de subvenciones electorales basadas en los resultados obtenidos en las elecciones del mismo tipo.</li>
        <li>Mediante créditos bancarios.</li>
        <li>Mediante fondos ordinarios del partido.</li>
      </ul>
      <p>Las subvenciones por gastos electorales se conceden una vez terminado el proceso electoral en función de los resultados obtenidos, estableciendo como límite el gasto realizado durante la campaña.</p>
      <p>De esta manera, para financiar las campañas electorales, los partidos, que por no haberse presentado anteriormente, no tienen acceso a un anticipo de la subvención que se corresponda con los resultados esperados se ven forzados a recurrir a préstamos bancarios para financiar sus campañas. Esto empuja a los partidos a un endeudamiento que puede condicionar su funcionamiento.</p>
      <p>Según el último informe del Tribunal de Cuentas (Julio de 2015), los partidos políticos españoles acumulaban en 2013 una deuda total con entidades de crédito de casi 205 millones de euros. Solo entre Partido Popular y PSOE sumaban una deuda con los bancos de 120 millones. Podemos tiene una deuda con los bancos de 0 euros. No se trata de algo anecdótico: los grandes partidos españoles han estado históricamente endeudados, han asumido deudas que eran incapaces de pagar, y que luego tenían que ser condonadas o renegociadas.  Todo eso les ha privado de capacidad de acción política.</p>
      <p>La decisión de la Asamblea Ciudadana de PODEMOS de no recurrir a créditos bancarios, reflejada en el Código Ético nos lleva explorar nuevas formas de nuevas fórmulas de colaboración y participación económica que nos permitan sortear el diseño orientado al endeudamiento que bancario que promueve el sistema de financiación de partidos.</p>
      <p>Mediante los Microcréditos ofrecemos a la ciudadanía la posibilidad de hacer un <strong>préstamo civil</strong> al Partido Político PODEMOS con vistas a sufragar los gastos electorales de la próxima campaña electoral catalana.</p>
      <p>A tal objeto, hemos calculado la subvención por gastos electorales correspondientes a un resultado conservador que nos permitiría devolver íntegramente el importe suscrito mediante la subvención por gastos electorales.</p>
      <p>Una vez recibida <strong>la subvención</strong> para dichos gastos , previsiblimente en Junio de 2018 ésta se aplicará <strong>de forma íntegra, directa y privilegiada a la devolución del préstamo</strong>.</p>
      <p>Solo en el improbable caso de que el total de la subvención fuera menor que el total del préstamo recibido, el total de las cantidades no cubiertas deberán ser devueltas de forma proporcional en el plazo máximo de 12 meses. La entidad Banca Ética Fiare supervisará y proporcionará apoyo técnico durante todo el proceso.</p>

      <p><%= image_tag "logo.podemos-425-p.jpg", alt: "Podemos.", width: "30%" %></p>

      <div class="buttonbox">
        <%= link_to "Colaborar", microcredit_path, class: 'button' %>
      </div>
      <p><br/></p>
      <p>Si necesitas más información, envíanos tus dudas a <a href="mailto:microcreditos@podemos.info">microcreditos@podemos.info</a>.</p>
    </div>
  </div>
</div>


