<% content_for :title, "Microcréditos" %>

<div class="content-content cols microcredits-wrapper">
  <div class="row">
    <div class="col-b-4a12">
      <h2>Microcréditos Podemos</h2>
      <p><%= image_tag "microcredits.jpg", alt: "Vamos a financiar la campaña con microcréditos concedidos por la gente. ¿Nos ayudas?", align: "center", width: "90%" %></p>
      <h3>Desde el 22 de agosto</h3>
      <p>La financiación de Podemos se caracteriza por tres elementos que nos diferencian del resto de partidos:</p>
      <ul>
        <li><strong>Independencia:</strong>Somos la primera organización política de ámbito nacional que no recurre a créditos bancarios. En Podemos no queremos depender de bancos ni de los poderes económicos y por eso nuestro objetivo ha sido ampliar al máximo la base de donantes y colaboradores.</li>
        <li><strong>Innovación:</strong> Para conseguir ampliar la base de donantes, apostamos desde el inicio por desarrollar vías de financiación innovadoras que posibilitaran nuestro objetivo. Estas vías de financiación se han basado en herramientas web como el crowdfunding, los microcréditos o las colaboraciones periódicas no obligatorias. En concreto, mediante microcréditos de 100 €, 500 € y 1.000 €, en las campañas autonómicas conseguimos recaudar 2.076.450 € , que ya han sido devueltos en su totalidad. Durante las generales del 20D alcanzamos los 2.874.058,57 € en microcréditos, y para afrontar las elecciones del 26J se han aportado 1.233.900 € en este concepto, que se reembolsarán siguiendo el mismo procedimiento, una vez ingresemos las subvenciones correspondientes a la fiscalización de gastos de la campaña del pasado 20 de diciembre y del 26 de junio, respectivamente.</li>
        <li><strong>Transparencia:</strong> En Podemos practicamos la transparencia que queremos ver en las instituciones. En nuestros estatutos nos comprometimos a publicar nuestras cuentas en la web trimestralmente. A cambio de pedir a la gente que nos apoye económicamente, nos comprometemos a enseñar a todo el mundo hasta el último euro que invierten en el cambio.cualquiera que lo desee puede consultar los gastos e ingresos detallados, así como los salarios, declaraciones de bienes y agendas de los cargos electos. Por ello, Podemos es el único partido que cuenta con tres mecanismos de control financiero: el Tribunal de Cuentas, una Auditoría Externa y el control por parte de la ciudadanía. En este sentido, con apenas dos años de vida, las medidas de transparencia de Podemos se han convertido en referencia internacional. <a href="https://podemos.info/blog-de-transparencia/">Más información</a>. </li>
      </ul>
      <p>Con motivo de las elecciones autonómicas en Euskadi, el próximo 22 de Agosto lanzamos los <strong>microcréditos Podemos</strong>. Con tu ayuda queremos financiar las campañas electorales sin endeudarnos con los bancos. En Podemos somos diferentes porque funcionamos diferente, gracias a ti.</p>
      <p><%= image_tag "microcredits2.jpg", alt: "¿Micro-qué?" %></p>
      <p>Mediante los microcréditos ofrecemos a la ciudadanía la posibilidad de hacer un <strong>préstamo civil</strong> al partido político Podemos con vistas a sufragar los gastos electorales de la campañas para las elecciones autonómicas en Euskadi. Con tu ayuda queremos financiar esta campaña electoral. Puedes aportar entre 100 y 10.000 euros, que te devolveremos cuando recibamos la subvención electoral correspondiente a los resultados electorales, aproximadamente 6 meses después de la celebración de los comicios.</p>
      <p><%= image_tag "microcredits3.jpg", alt: "Vale, ¿y ahora qué tengo que hacer?", width: "90%" %></p>
      <ol>
        <li>Rellena el formulario en microcreditos.podemos.info y elige una cantidad entre 100 y 10.000 euros.</li>
        <li>Guarda e imprime el código de suscripción que recibirás por correo electrónico.</li>
        <li>Realiza una transferencia a la cuenta bancaria que aparece en el recibo e indica tu código en el concepto.</li>
        <li>Cuando recibimos la subvención electoral, te devolveremos tu dinero.</li>
      </ol>
      <p><%= image_tag "logo.podemos-425-p.jpg", alt: "Podemos.", width: "30%" %></p>
      <p>Normalmente, los partidos políticos sufragan sus campañas electorales de tres formas:</p>
      <ul>
        <li>Mediante anticipos de subvenciones electorales basadas en los resultados obtenidos en las elecciones del mismo tipo.</li>
        <li>Mediante créditos bancarios.</li>
        <li>Mediante fondos ordinarios del partido.</li>
      </ul>
      <p>Las subvenciones por gastos electorales se conceden una vez terminado el proceso electoral en función de los resultados obtenidos, estableciendo como límite el gasto realizado durante la campaña.</p>
      <p>De esta manera, para financiar las campañas electorales, los partidos se ven forzados a recurrir a préstamos bancarios para financiar sus campañas. Esto empuja a los partidos a un endeudamiento que puede condicionar su funcionamiento.</p>
      <p>Según el <a href="https://files.podemos.info/ZLUy4btG7R">último informe del Tribunal de Cuentas</a> (julio de 2015), los partidos políticos españoles acumulaban en 2013 una deuda total con entidades de crédito de casi 205 millones de euros. Solo entre Partido Popular y PSOE sumaban una deuda con los bancos de 120 millones. Podemos tiene una deuda con los bancos de 0 euros. No se trata de algo anecdótico: los grandes partidos españoles han estado históricamente endeudados, han asumido deudas que eran incapaces de pagar, y que luego tenían que ser condonadas o renegociadas.  Todo eso les ha privado de capacidad de acción política.</p>
      <p>La decisión de la Asamblea Ciudadana de Podemos de <strong>no recurrir a créditos bancarios</strong>, reflejada en el Código Ético, nos lleva a explorar nuevas formas de nuevas fórmulas de colaboración y participación económica que nos permitan sortear el diseño orientado al endeudamiento bancario que promueve el sistema de financiación de partidos.</p>
      <p>Mediante los microcréditos, ofrecemos a la ciudadanía la posibilidad de hacer un <strong>préstamo civil</strong> al partido político Podemos con vistas a sufragar los gastos electorales de las campañas para las elecciones autonómicas en Euskadi.</p>
      <p>A tal objeto, hemos calculado la subvención por gastos electorales correspondientes a un resultado conservador que nos permitiría devolver íntegramente el importe suscrito mediante la subvención por gastos electorales.</p>
      <p>Una vez recibida <strong>la subvención</strong> para dichos gastos, esta se aplicará <strong>de forma íntegra, directa y privilegiada a la devolución</strong> del préstamo.</p>
      <p>Solo en el improbable caso de que el total de la subvención fuera menor que el total del préstamo recibido, el total de las cantidades no cubiertas deberán ser devueltas de forma proporcional en el plazo máximo de doce meses. La entidad Banca Ética Fiare supervisará y proporcionará apoyo técnico durante todo el proceso.</p>
      <div class="buttonbox">
        <%= link_to "Colaborar", microcredit_path, class: 'button' %>
      </div>
      <p><br/></p>
      <p>Si necesitas más información, envíanos tus dudas a <a href="mailto:microcreditos@podemos.info">microcreditos@podemos.info</a>.</p>
    </div>
  </div>
</div>


