<% content_for :title, "Microcréditos" %>

<div class="content-content cols microcredits-wrapper">
  <div class="row">
    <div class="col-b-4a12">
      <h2>Microcréditos Podemos</h2>
      <p><%= image_tag "microcredits.jpg", alt: "Vamos a financiar la campaña con microcréditos concedidos por la gente. ¿Nos ayudas?", align: "center", width: "90%" %></p>
      <h3>Desde el 12 de mayo</h3>
      <p>Con motivo de las elecciones generales lanzamos los <strong>microcréditos Podemos</strong><strong> para la campaña del próximo 26 de Junio</strong>. Con tu ayuda queremos financiar las campañas electorales sin endeudarnos con los bancos, ¡y lo estamos consiguiendo! En Podemos somos diferentes porque funcionamos diferente, y gracias a cada una de las personas que colabora con la financiación de nuestras campañas, hemos conseguido ahorrar a las arcas públicas cerca de 12 millones de euros. </p>
      <p><%= image_tag "ahorro.jpg", alt: "ahorro" %></p>
      <p>En esta ocasión, nos proponemos que esta campaña de financiación a través de microcréditos nos ayude a recaudar la cantidad necesaria para realizar el envío de mailing, también conocido como buzoneo, o el envío de las papeletas electorales. Este gasto es el que supone la mayor partida dentro de la campaña electoral para cualquier partido u organización política y, a su vez, posteriormente es subvencionado por parte del Estado, de manera independiente al resto de gastos ordinarios.</p>
      <p>Por eso,  os pedimos que colaboréis para que entre todas y todos consigamos que la papeleta con el voto de Podemos llegue a todas las casas, con el objetivo de animar la participación y garantizar que el sobre con el voto de Podemos llegue a los hogares y familias que lo necesitan.</p>
      <p>O a casi todas. En todo el Estado, el número de electores para las próximas elecciones es de  36.518.100, por lo que si un partido quiere realizar un mailing completo, este genera un coste al Estado de 6573,258 de euros aproximadamente.</p>
      <p>Desde Podemos nos hemos planteado llegar a 11 millones de hogares ¡Ayúdanos a hacerlo realidad!</p>
      <p><br/><br/></p>
      <p><strong>¿Cómo funcionan las subvenciones de envío electoral?</strong></p>
      <p>De acuerdo con lo establecido en la disposición cuarta de la Ley Orgánica 3/2015, de 30 de marzo, el Estado subvencionará a los partidos, federaciones, coaliciones o agrupaciones, los gastos electorales originados por el envío directo y personal a los electores de sobres y papeletas electorales o de propaganda y publicidad electoral, es decir, lo que conocemos como mailing o buzoneo.</p>
      <p>La subvención se concede de acuerdo con las reglas siguientes:  Se abonarán 0,18 euros por elector/a en cada una de las circunscripciones en las  que haya presentado lista al Congreso de los Diputados y al Senado, siempre que la candidatura de referencia hubiera obtenido el número de Diputados o Senadores o de votos preciso para constituir un Grupo Parlamentario en una u otra Cámara.</p>
      <p><br/><br/></p>
      <p><%= image_tag "microcredits2.jpg", alt: "¿Micro-que?" %></p>
      <p>Mediante los Microcréditos ofrecemos a la ciudadanía la posibilidad de hacer un <strong>préstamo civil</strong> al Partido Político PODEMOS con vistas a sufragar los gastos electorales de las campañas para las elecciones generales de junio. Con tu ayuda queremos financiar esta campaña electoral. Puedes aportar entre 100 y 10 mil euros que te devolveremos cuando recibamos la subvención electoral correspondiente a los resultados electorales, aproximadamente a partir del mes de diciembre de 2016.</p>
      <p><br/><br/></p>
      <p><%= image_tag "microcredits3.jpg", alt: "Vale, ¿y ahora qué tengo que hacer?", width: "90%" %></p>
      <ol>
        <li>Rellena el formulario en microcreditos.podemos.info y elige una cantidad entre 100 y 10 mil euros. </li>
        <li>Guarda e imprime el código de suscripción.</li>
        <li>Realiza una transferencia a la cuenta bancaria qeu aparece en el recibo indicando tu código en el concepto.</li>
        <li>Cuando recibimos la subvención electoral, te devolvemos tu dinero.</li>
      </ol>
      <p><%= image_tag "logo.podemos-425-p.jpg", alt: "PODEMOS.", width: "30%" %></p>
      <p>La financiación de Podemos se caracterizan por tres elementos que nos diferencian del resto de partidos:</p>
      <ul>
        <li><strong>Independencia:</strong> En Podemos no queremos depender de bancos ni de los poderes económicos y por eso nuestro objetivo ha sido ampliar al máximo la base de donantes y colaboradores. En total en las campañas autonómicas conseguimos recaudar <strong>2.054.100€</strong> mediante microcréditos de 100€, 500€ y 1000€ y ya hemos realizado la devolución íntegra a todas y todos los prestamistas. Durante las generales, mediante el mismo sistema, conseguimos <strong>2.874.058,57 €</strong> que se rembolsarán siguiendo el mismo procedimiento, una vez ingresmos la subvención correspondiente a la fiscalización de gastos de la campaña del pasado 20 de diciembre. </li>
        <li><strong>Innovación:</strong> Para conseguir ampliar la base de donantes apostamos desde el inicio por desarrollar vías de financiación innovadoras que posibilitaran nuestro objetivo. Estas vías de financiación se han basado en herramientas web como el crowdfunding, los microcréditos o las colaboraciones periódicas no obligatorias.</li>
        <li><strong>Transparencia:</strong> En Podemos practicamos la transparencia que queremos ver en las instituciones. En nuestros estatutos nos comprometimos a publicar nuestras cuentas en la web de manera periódica y lo estamos consiguiendo. A cambio de pedirle a la gente que nos apoye económicamente nos comprometemos a enseñar a todo el mundo hasta el último euro que invierten en el cambio.</li>
      </ul>
      <p>Normalmente los partidos políticos sufragan sus
      campañas electorales de tres formas:</p>
      <ul>
        <li>Mediante anticipos de subvenciones electorales basadas en los resultados obtenidos en las elecciones del mismo tipo</li>
        <li>Mediante créditos bancarios </li>
        <li>Mediante fondos ordinarios del partido</li>
      </ul>
      <p>Las subvenciones por gastos electorales se conceden una vez terminado el proceso electoral en función de los resultados obtenidos, estableciendo como límite el gasto realizado durante la campaña.</p>
      <p>De esta manera, para financiar las campañas electorales, los partidos, que por no haberse presentado anteriormente, no tienen acceso a un anticipo de la subvención que se corresponda con los resultados esperados se ven forzados a recurrir a préstamos bancarios para financiar sus campañas. Esto empuja a los partidos a un endeudamiento que puede condicionar su funcionamiento.</p>
      <p>Según el <a href="https://files.podemos.info/ZLUy4btG7R">último informe del Tribunal de Cuentas</a> (Julio de 2015), los partidos políticos españoles acumulaban en 2013 una deuda total con entidades de crédito de casi 205 millones de euros. Solo entre Partido Popular y PSOE sumaban una deuda con los bancos de 120 millones. Podemos tiene una deuda con los bancos de 0 euros. No se trata de algo anecdótico: los grandes partidos españoles han estado históricamente endeudados, han asumido deudas que eran incapaces de pagar, y que luego tenían que ser condonadas o renegociadas. Todo eso les ha privado de capacidad de acción política.</p>
      <p>La decisión de la Asamblea Ciudadana de PODEMOS de <strong>no recurrir a créditos bancarios</strong>, reflejada en el Código Ético nos lleva explorar nuevas formas de nuevas fórmulas de colaboración y participación económica que nos permitan sortear el diseño orientado al endeudamiento que bancario que promueve el sistema de financiación de partidos.</p>
      <p>Mediante los Microcréditos ofrecemos a la ciudadanía la posibilidad de hacer un <strong>préstamo civil</strong> al Partido Político PODEMOS con vistas a sufragar los gastos electorales de las campañas para las elecciones generales de junio.</p>
      <p>A tal objeto, hemos calculado la subvención por gastos electorales correspondientes a un resultado conservador que nos permitiría devolver íntegramente el importe suscrito mediante la subvención por gastos electorales.</p>
      <p>Una vez recibida <strong>la subvención</strong> para dichos gastos , previsiblimente en Junio de 2016, ésta se aplicará <strong>de forma íntegra, directa y privilegiada a la devolución</strong> del préstamo.</p>
      <p>Solo en el improbable caso de que el total de la subvención fuera menor que el total del préstamo recibido, el total de las cantidades no cubiertas deberán ser devueltas de forma proporcional en el plazo máximo de 12 meses. La entidad Banca Ética Fiare supervisará y proporcionará apoyo técnico durante todo el proceso.</p>
      <div class="buttonbox">
        <%= link_to "Colaborar", microcredit_path, class: 'button' %>
      </div>
      <p><br/></p>
      <p>Si necesitas más información, envíanos tus dudas a <a href="mailto:microcreditos@podemos.info">microcreditos@podemos.info</a>.</p>
    </div>
  </div>
</div>
