<% content_for :title, "Microcréditos" %>

<div class="content-content microcredits-wrapper ">
<h2>Microcréditos Podemos - <%=@microcredit.title%></h2>
<p>Ayúdanos a financiar las campañas electorales suscribiendo un microcrédito Podemos. Cuando nos ingresen la subvención electoral te devolveremos la cantidad aportada. <%= link_to "Más informacion", microcredits_info_path %></p>
<% if @microcredit.contact_phone and not @microcredit.contact_phone.empty?%>
<p><%=fa_icon "phone-square"%> Si necesitas ayuda contacta al <strong><%=@microcredit.contact_phone%></strong>.</p>
<% end %>
<%= errors_in_form @loan %>
<%= semantic_form_for @loan, url: create_microcredit_loan_path, html: {method: :post, autocomplete: 'off'} do |f| %>

  <% if  current_user %>
    <% if @user_loans %>
      <%= alert_box "Información" do %>
        <p>Ya has suscrito microcréditos para esta campaña por monto de <%= number_to_euro @user_loans.map { |l| l.amount*100 } .sum%>.</p>
        <% @user_loans.each do |loan| %>
          <p>El <%= loan.created_at.strftime "%d-%m-%Y" %> por un importe de <%= number_to_euro loan.amount*100%><%= loan.confirmed_at.nil? ? "." : " que ya hemos recibido." %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= alert_box "Información" do %>
    <p>Si tienes usuario en el Portal de Participación, te recomendamos que <%= link_to "ingreses con tu usuario", new_user_session_path%> para que no tengas que rellenar nuevamente estos datos y para que puedas consultar el estado del préstamo en el futuro.</p>
    <% end %>
    <fieldset>
      <div class="inputlabel-box">
        <% if @loan.errors.include?(:first_name) %>
          <%= field_notice_box %>
        <% end %>
        <%= f.input :first_name, required: true, input_html: {autofocus: true, required: true, class: 'input-xl'} %>
      </div>

      <div class="inputlabel-box">
        <% if @loan.errors.include?(:last_name) %>
            <%= field_notice_box %>
        <% end %>
        <%= f.input :last_name, required: true, input_html: {required: true, class: 'input-xl'} %>
      </div>

      <div class="inputlabel-box">
        <% if @loan.errors.include?(:document_vatid) %>
            <%= field_notice_box %>
        <% end %>
        <%= f.input :document_vatid,
                    required: true %>
      </div>

      <div class="inputlabel-box">
        <% if @loan.errors.include?(:email) %>
            <%= field_notice_box %>
        <% end %>
        <%= f.input :email,
                    required: true %>
      </div>
    </fieldset>
    <fieldset>
      <legend><span>Domicilio</span></legend>
      <div class="inputlabel-box">
        <% if @loan.errors.include?(:country) %>
            <%= field_notice_box %>
        <% end %>
        <%= label @loan, :country, class: "control-label", required: :required do %>
          País
          <abbr title="requerido">*</abbr>
        <% end %>
        <%= select_tag "microcredit_loan[country]", options_from_collection_for_select(get_countries, "code", "name", @loan.country), { disabled: false, required: true, data: { allowClear: true } } %>
      </div>
      <div class="inputlabel-box">
        <% if @loan.errors.include?(:province) %>
            <%= field_notice_box %>
        <% end %>
        <%= render partial: 'subregion_select', locals:{ country: @loan.country, province: @loan.province, disabled: false, required: true, title:"Provincia" } %>
      </div>
      <div class="inputlabel-box">
        <% if @loan.errors.include?(:town) %>
            <%= field_notice_box %>
        <% end %>
        <%= render partial: 'municipies_select', locals: { country: @loan.country, province: @loan.province, town:  @loan.town, disabled: false, required: true, title: "Municipio" } %>
      </div>
      <div class="inputlabel-box">
        <% if @loan.errors.include?(:postal_code) %>
            <%= field_notice_box %>
        <% end %>
        <%= f.input :postal_code, required: true, input_html: {required: true, class: 'input-s'} %>
      </div>
      <div class="inputlabel-box">
        <% if @loan.errors.include?(:address) %>
            <%= field_notice_box %>
        <% end %>
        <%= f.input :address, required: true, input_html: {required: true, class: 'input-xl'} %>
      </div>
    </fieldset>
  <% end %>
  <fieldset class="with-tos">
    <div>
      <% if @loan.errors.include?(:amount) %>
          <%= field_notice_box %>
      <% end %>
        <%= label @loan, :amount, class: "control-label", required: :required do %>
          Importe
          <abbr title="requerido">*</abbr>
        <% end %>
      <div class="radio_options">
        <% @microcredit.phase_remaining.each do |amount,remaining| %> 
        <input id="microcredit_loan_amount_<%=amount%>" name="microcredit_loan[amount]" value="<%=amount%>" type="radio" <%="checked" if amount==@loan.amount%>/>
        <div><%=fa_icon "check-circle", text: "#{number_to_euro amount*100,0}"%><span>(quedan <%=remaining%>)</span></div>
        <% end %>
      </div>
    </div>
  <% if not current_user %>
    <div class="inputlabel-box">
      <%= f.label :captcha %>
      <div class="input-box">
        <%= recaptcha_tags %>
      </div>
    </div>
  <% end %>

    <div class="inputlabel-box">
      <% if @loan.errors.include?(:minimal_year_old) %>
          <%= field_notice_box %>
      <% end %>
      <%= f.label :minimal_year_old %>
      <div class="input-box">
        <%= f.check_box :minimal_year_old, class: 'checkbox' %>
        <p class="text-xl">Declaro ser mayor de 18 años.</p>
      </div>
    </div>

    <div class="inputlabel-box">
      <% if @loan.errors.include?(:terms_of_service) %>
          <%= field_notice_box %>
      <% end %>
      <div class="input-box">
        <%= f.check_box :terms_of_service, class: 'checkbox' %>
        <p class="text-xl">Acepto las condiciones generales del Contrato civil de suscripción de microcréditos de Podemos. <a href="<%=@microcredit.agreement_link%>" target="_blank">Contrato civil de suscripción de microcréditos de Podemos</a></p>
      </div>
    </div>
  </fieldset>
  <%= f.actions class: 'enter' do %>
    <%= f.action :submit, :as => :input, button_html: {class: 'button'} %>
  <% end %>
<% end %>

</div>
