<ul>
  <li> Objetivo: <%= (number_to_euro campaign_total*100,2).html_safe %> </li>
<li> Suscrito: <%=(number_to_euro stats[:amount]*100,2).html_safe %>
  <br/>Microcréditos: <%=stats[:count]%>
  <br/>Donantes: <%=stats[:unique]%>
</li>
  <li> Visibles: <%=(number_to_euro stats[:amount_counted]*100,2).html_safe%>
    <br/>Microcréditos: <%=stats[:count_counted]%>
    <br/>Donantes: <%=stats[:unique_counted]%>
  </li>
  <li> Confirmados: <%=(number_to_euro stats[:amount_confirmed]*100,2).html_safe%>
    <br/>Microcréditos: <%=stats[:count_confirmed]%>
    <br/>Donantes: <%=stats[:unique_confirmed]%>
  </li>
  <li> Descartados: <%=(number_to_euro stats[:amount_discarded]*100,2).html_safe%>
    <br/>Visibles: <%=(number_to_euro stats[:amount_discarded_counted]*100,2).html_safe%>
    <br/>Microcréditos: <%=stats[:count_discarded]%>
  </li>
</ul>