<div style="margin:auto;width:<%=width%>"><canvas class="js-graph js-line" data-scope="microcredits-amounts" width="100" height="40"></canvas></div>
<%
parent = params[:id] ? Microcredit.find(params[:id]) : nil
base = parent ? MicrocreditLoan.where(microcredit: parent).joins(:microcredit) : MicrocreditLoan.joins(:microcredit).merge(Microcredit.upcoming_finished)
base = base.unscope(:order)

created = base.group(MicrocreditLoan.unique_day("microcredit_loans.created_at")).sum(:amount)
confirmed = base.where.not(confirmed_at:nil).group(MicrocreditLoan.unique_day(:confirmed_at)).sum(:amount)
confirmed_created = base.where.not(confirmed_at:nil).group(MicrocreditLoan.unique_day("microcredit_loans.created_at")).sum(:amount)
counted = base.where.not(counted_at:nil).group(MicrocreditLoan.unique_day(:counted_at)).sum(:amount)

days = [ created, confirmed, confirmed_created, counted ].flat_map(&:keys).uniq.sort.map {|i| [i, "#{i.to_i%366%32}/#{i.to_i%366/32+1}/#{i.to_i/366}"] }
%>    

<table class="js-microcredits-amounts data_table">
  <tr>
    <th>Día</th>
    <th class="js-serie">Suscritos</th>
    <th class="js-serie">Visibles</th>
    <th class="js-serie">Confirmados<br/>(por fecha de confirmación)</th>
    <th class="js-serie">Confirmados<br/>(por fecha de suscripción)</th>
    <th>% confirmado<br/>(dia/acumulado)</th>
  </tr>
<% 
created_acum = counted_acum = confirmed_acum = confirmed_created_acum = 0  
created.default = counted.default = confirmed.default = confirmed_created.default = 0
days.each do | key, text | 
  created_acum += created[key]
  counted_acum += counted[key]
  confirmed_acum += confirmed[key]
  confirmed_created_acum += confirmed_created[key]
%>

  <tr class="js-row">
  <td class="js-label"><%=text%></td>
  <td class="js-cell"><%=number_to_euro created_acum*100, 0%></td>
  <td class="js-cell"><%=number_to_euro counted_acum*100, 0%></td>
  <td class="js-cell"><%=number_to_euro confirmed_acum*100, 0%></td>
  <td class="js-cell"><%=number_to_euro confirmed_created_acum*100, 0%></td>
  <td><%=created[key]==0 ? "&infin;".html_safe : number_to_percentage(100.0*confirmed_created[key]/created[key], precision:2)%> / <%= created_acum==0 ? "&infin;".html_safe : number_to_percentage(100.0*confirmed_created_acum/created_acum, precision:2)%></td>
  </tr>
<% end %>
</table>