<%= semantic_form_for :upload_vote_results, :url => { :action => "upload_vote_results" , :multipart => true} do |f| %> 
    <%= f.input :file, :as => :file, :label => "Selecciona archivo JSON" %>
    <%= f.input :question_id, :as => :number, :label => "Ãndice de la pregunta", :input_html => { :value => 1 } %>
    <div class="buttons">
    <%= f.actions do %>
        <%= f.action :submit, :as => :button %>
    <% end %>
    </div>
<% end %>  
