<% if !@versions.empty? %>
  <h3>Versión actual: <%= @versions.length %></h3>

  <b>Creada el At:</b>
  <%= @versions.last.created_at%>
  <br>
  <b>Por el usuario</b>: <%= @versions.last.whodunnit %>
  <br>
  <% if @versions.length.to_i > 1 %>
    <% if params[:version].to_i > 1 || !params[:version] %>
      <%= link_to "Versiones anteriores", {:version => (params[:version] || @versions.length).to_i - 1}%>
      <br>
    <% end %>
    <% if params[:version] %>
      <h3>Esta es la version Nº <%= "#{params[:version]}"%></h3>

      <b>Modificado el:</b>
      <%= @versions[(params[:version].to_i - 1)].created_at %>
      <br>
      <b>Por el usuario</b>:
      <%= @versions[(params[:version].to_i - 1)].whodunnit %>
      <br>

      <%= link_to "Ir a la versión actual"%>
    <% end %>
  <% end %>
<% else %>
  <p>No se han producido cambios en este item.</p>
<% end %>

