<%
  key = "#{gname}.#{fname}"
  field_name = :"_wiz_#{gname}__#{fname}"
  value = project.send(field_name) # TO-DO: this force to call missing_method, Formtastic use don't work with arrays (check_boxes) 
  disable = !project.wizard_editable_field?(gname, fname)
  hint = fa_icon("asterisk", text: raw(field[:tip])) if field[:tip].present?
%>

<div class="inputlabel-box impulsa">
  <% if field[:type]=="file" %>
    <%= f.input field_name, label: field[:title], as: :file, hint: hint, input_html: {class: 'input-xl', accept: filetypes_to_file_filter(field[:filetype]), disable: disable, "data-url"=>upload_impulsa_path(field: key)} %>
    <div class="file form-group file-data">
      <span class="form-label"><label><%= link_to(fa_icon("cloud-download", text: t("podemos.impulsa.model_link")), field[:template]) if field[:template] %></label></span>
      <span class="form-wrapper">
        <div class="progress hidden"><div class="progress-bar progress-bar-success"></div></div>
        <div class="current-file<%=" hidden" if project.wizard_values[key].blank?%>"> <%= link_to(project.wizard_values[key] || "", download_impulsa_path(field: project.wizard_values[key] || ""), class: :download)%> <%= link_to(fa_icon("trash"), delete_file_impulsa_path(field: key), method: :delete, "data-remote"=>true, "data-confirm"=>"Esto borrará el fichero. ¿Deseas continuar?", class: :delete)%></div>
      </span>
    </div>
  <% elsif field[:type].in? ["select", "check_boxes"] %>
    <%= f.input field_name, label: field[:title], as: field[:type], hint: hint, collection: field[:collection].to_a.map(&:reverse), input_html: {class: if field[:type]=="check_boxes" then '' else 'input-xl' end, disable: disable} %>
  <% elsif field[:type]=="boolean" %>
      <%= f.label field[:title] %>
      <div class="input-box">
        <label class="choice"><%= f.check_box field_name, class: 'checkbox' %><%= field[:tip] %></label>
      </div>
  <% else %>
    <%= f.input field_name, label: field[:title], as: field[:type], hint: hint, input_html: {class: 'input-xl', disable: disable} %>
  <% end %>
</div>