<% content_for :title, t("podemos.impulsa.title") %>

<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <%= content_tag(:h2, t("podemos.impulsa.title")) %>
      <% if @categories_state.any? %>
        <h3>Categorías</h3>
        <div class="categorias">
        <div class="titulo"><%= t("podemos.impulsa.category_type_name.state")  %></div>
        <% @categories_state.each do |category| %>
          <%= link_to(category.name, impulsa_category_path(id: category.id)) %>
        <% end %>
        </div>
      <% end %>
      <% if @categories_territorial.any? %>
        <div class="categorias">
        <div class="titulo"><%= t("podemos.impulsa.category_type_name.territorial")  %></div>
        <% @categories_territorial.each do |category| %>
          <%= link_to(category.name, impulsa_category_path(id: category.id)) %>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
