<% content_for :title, t("podemos.impulsa.title") %>


<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">

      <%= content_tag(:h2, t("podemos.impulsa.title")) %>
      <%= info_box do %>
        <%= content_tag(:p, t("podemos.impulsa.choose_user_text")) %>
        <%= content_tag(:p, t("podemos.impulsa.next_step_text", next_step:t("podemos.impulsa.next_step"))) %>
      <% end %>
      <%= errors_in_form @project %>

      <%= semantic_form_for @project, url: create_impulsa_path, html: { method: :post, autocomplete: 'off'} do |f| %>
      <fieldset>
        <div class="inputlabel-box">
          <% if @project.errors.include?(:impulsa_edition_category) %>
          <%= field_notice_box %>
          <% end %>
          <%= f.input :impulsa_edition_category, as: :select, collection: @available_categories.sort_by(&:name), required: true, input_html: {class: 'input-xl', onchange: @project.persisted? ? "submit()" : "" } %>
          <%= content_tag(:p, fa_icon("asterisk", text: t("podemos.impulsa.impulsa_edition_category_extra", legal: link_to(t("podemos.impulsa.legal"),@edition.legal_link)).html_safe, class: "fa-fw"), class: :note) %>
        </div>
        <div class="inputlabel-box">
          <% if @project.errors.include?(:name) %>
          <%= field_notice_box %>
          <% end %>
          <%= f.input :name, required: true, input_html: { class: 'input-xl'} %>
        </div>
        <%= f.actions class: 'enter' do %>
          <%= f.action :submit, :label=>t("podemos.impulsa.next_step"), :as => :input, button_html: {class: 'button'} %>
        <% end %>
      </fieldset>
      <% end %>
    </div>
  </div>
</div>
