<% content_for :title, t("podemos.impulsa.title") %>

<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">

      <%= content_tag(:h2, t("podemos.impulsa.title")) %>
      <%= info_box do %>
        <%= content_tag(:p, t("podemos.impulsa.choose_user_text")) %>
        <%= content_tag(:p, t("podemos.impulsa.next_step_text", next_step:t("podemos.impulsa.next_step"))) %>
      <% end %>
      <%= errors_in_form @project %>
      <%= semantic_form_for @project, url: create_impulsa_path, html: {method: :post, autocomplete: 'off'} do |f| %>

        <%= render partial: "form", locals: { f: f } %>
        <%= f.actions class: 'enter' do %>
          <%= f.action :submit, :label=>t("podemos.impulsa.next_step"), :as => :input, button_html: {class: 'button'} %>
        <% end %> 
      <% end %>
    </div>
  </div>
</div>
