<% content_for :title, t("podemos.impulsa.title") %>

<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <%= render partial: "steps", locals: {project: @project, step: @step} %>
      <%= content_tag(:h2, @project.wizard_step_info[:title]) %>
      <% unless @project.wizard_has_errors? %>
        <p>El formulario parece estar completo. Si es así, pueder ir a la <%= link_to("página del proyecto", project_impulsa_path) %> y presionar el botón <strong><%=t("podemos.impulsa.mark_for_review")%></strong></p>
      <% end %>
      <%= semantic_form_for @project, url: update_step_impulsa_path(step: @step), html: {method: :post, autocomplete: 'off'} do |f| %>
        <%= simple_format(@project.wizard_step_info[:text]) if @project.wizard_step_info[:text].present? %>
        <% @project.wizard_step_info[:groups].each do |gname, group|
          next unless @project.wizard_eval_condition(group) %>
          <fieldset>
            <% if group[:title].present? %><h3><%=group[:title]%></h3><% end %>
            <%= simple_format(group[:text]) if group[:text].present? %>
            <% group[:fields].each do |fname, field| %>
              <%= render partial: "field", locals: {project: @project, f: f, gname: gname, group: group, fname: fname, field: field} %>
            <% end %>
          </fieldset>
        <% end %>

        <% if @project.saveable? %>
          <%= f.actions class: 'enter' do %>
            <%= f.action :submit, :label=>@show_errors ? "Guardar cambios" : t("podemos.impulsa.next_step"), :as => :input, button_html: {class: 'button'} %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
