<% content_for :title, "Microcréditos" %>

<div class="content-content cols credits">
<h2>Microcréditos PODEMOS</h2>

<section class="js-col-total-graph">
  <canvas width="320" height="320"></canvas>
<% @credits.each do |c| %>
  <div alt="<%=c[1]-c[2]%>x<%=c[0]%>€" class="hide js-col-total"><%= c[0]*(c[1]-c[2]) %>€</div>
<% end %>
  <div class="hide js-col-current"><%= @totals[1] %>€</div>
</section>

<section class="js-info">
  <p>Este 22 de marzo te devolvemos Andalucía. Ayúdanos a a financiar la campaña electoral suscribiendo un microcrédito Podemos. Cuando nos ingresen la subvención electoral te devolveremos la cantidad aportada.</p>
  <div class="buttonbox">
    <%= link_to "Colaborar", credits_add_path, class: 'button buttonr' %>
  </div>  
  <p><br/><br/><br/><br/></p>
  <h3>Los números de esta semana</h3>
  <p>Objetivo: <%=@totals[0]%>€<br/>Recaudado: <%=@totals[1]%>€</p>
</section>
</div>
