<% content_for :title, "Microcréditos" %>

<div class="content-content cols credits">
<h2>Microcréditos</h2>

<section class="js-col-total-graph">
  <h3>Total</h3>
  <canvas width="400" height="400"></canvas>
<% @credits.each do |c| %>
  <div alt="<%=c[1]-c[2]%> x <%=c[0]%> €" class="hide js-col-total"><%= c[0]*(c[1]-c[2]) %></div>
<% end %>
</section>

<% @credits.each do |c| %>
<section class="js-col-graph">
  <h3><%=c[0]%> €</h3>
  <canvas width="150" height="150"></canvas>
  <div class="hide js-col-pending"><%= c[1]-c[2] %></div>
  <div class="hide js-col-current"><%= c[2] %></div>
</section>
<% end %>

</div>
