<% content_for :title, "Comparte el cambio" %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <%= content_tag(:h2, "Comparte el cambio") %>
      <p>Sumate a la mani del 31 y comparte la experiencia con otras personas con ganas de cambio.</p>
      <ul>
      	<%= content_tag :li, link_to("Comparte tu coche", "#") %>
      	<%= content_tag :li, link_to("Encuentra un viaje", "#") %>
      	<%= content_tag :li, link_to("Comparte tu casa", hospitality_path) %>
      	<%= content_tag :li, link_to("Encuentra alomiento", "#") %>
      </ul>
    </div>
  </div>
</div>

Colaboraciones