<% content_for :title, title %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <%= content_tag :h2, title %>
	  <% if defined? return_path %>
		<%= content_tag :p, link_to("Volver", return_path) %>
	  <% end %>
	  <iframe id="formview_iframe" src="<%= url %><% if user_signed_in? %>?participa_user_id=<%=u current_user.id%>&participa_user_first_name=<%=u current_user.first_name %>&participa_user_last_name=<%=u current_user.last_name %>&participa_user_email=<%=u  current_user.email %>&participa_document_vatid=<%=u  current_user.document_vatid %>&participa_phone=<%=u  current_user.phone %><%end%>" width="100%" height="1500" frameBorder="0" class="gfiframe"></iframe>
    </div>
  </div>
</div>
