<% content_for :title, t('podemos.legal.title2') %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">

      <%= info_box do %>
      <h1><%= t('podemos.legal.title1') %></h1>
      <h2><%= t('podemos.legal.title2') %></h2>
      <h2><%= t('podemos.legal.title3') %></h2>

      <h3> 1. <%= t('podemos.legal.p1.title') %></h3>
      <h4> 1.1 <%= t('podemos.legal.p1.p1.subtitle') %></h4>
      <p> <%= t('podemos.legal.p1.p1.text_html') %></p>
      <h4> 1.2 <%= t('podemos.legal.p1.p2.subtitle') %></h4>
      <p> <%= t('podemos.legal.p1.p2.text_html') %></p>

      <h3> 2. <%= t('podemos.legal.p2.title') %></h3>
      <h4> 2.1 <%= t('podemos.legal.p2.p1.subtitle') %></h4>
      <p> <%= t('podemos.legal.p2.p1.text_html') %></p>
      <h4> 2.2 <%= t('podemos.legal.p2.p2.subtitle') %></h4>
      <p> <%= t('podemos.legal.p2.p2.text_html') %></p>
      <h4> 2.3 <%= t('podemos.legal.p2.p3.subtitle') %></h4>
      <p> <%= t('podemos.legal.p2.p3.text_html') %></p>
      <h4> 2.4 <%= t('podemos.legal.p2.p4.subtitle') %></h4>
      <p> <%= t('podemos.legal.p2.p4.text_html') %></p>
      <h4> 2.5 <%= t('podemos.legal.p2.p5.subtitle') %></h4>
      <p> <%= t('podemos.legal.p2.p5.text_html') %></p>
      <h4> 2.6 <%= t('podemos.legal.p2.p6.subtitle') %></h4>
      <p> <%= t('podemos.legal.p2.p6.text_html') %></p>
      <h4> 2.7 <%= t('podemos.legal.p2.p7.subtitle') %></h4>
      <p> <%= t('podemos.legal.p2.p7.text_html') %></p>
      <h4> 2.8 <%= t('podemos.legal.p2.p8.subtitle') %></h4>
      <p> <%= t('podemos.legal.p2.p8.text_html') %></p>
      <h4> 2.9 <%= t('podemos.legal.p2.p9.subtitle') %></h4>
      <p> <%= t('podemos.legal.p2.p9.text_html') %></p>
      <h4> 2.10 <%= t('podemos.legal.p2.p10.subtitle') %></h4>
      <p> <%= t('podemos.legal.p2.p10.text_html') %></p>

      <h3> 3. <%= t('podemos.legal.p3.title') %></h3>
      <h4> 3.1 <%= t('podemos.legal.p3.p1.subtitle') %></h4>
      <p> <%= t('podemos.legal.p3.p1.text_html') %></p>
      <h4> 3.2 <%= t('podemos.legal.p3.p2.subtitle') %></h4>
      <p> <%= t('podemos.legal.p3.p2.text_html') %></p>

      <h3> 4. <%= t('podemos.legal.p4.title') %></h3>
      <h4> 4.1 <%= t('podemos.legal.p4.p1.subtitle') %></h4>
      <p> <%= t('podemos.legal.p4.p1.text_html') %></p>
      <% end %>
    </div>
  </div>
</div>
