<% content_for :title, t("podemos.user_verification.title") %>

<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">

      <%= content_tag(:h2, t("podemos.user_verification.title")) %>

      <%= errors_in_form @user_verification %>
      
      <%= semantic_form_for @user_verification, url: create_user_verification_path, html: {method: :post, autocomplete: 'off'} do |f| %>

          <%= render partial: "form", locals: { f: f } %>

          <fieldset class="with-tos">

            <legend><span>Consentimiento</span></legend>

            <div class="inputlabel-box">
              <span class="no-label"><%= t('podemos.user_verification.terms_of_service.title') %></span>
              <span class="no-input">
                <div class="tos">
                  <p>1. <%= t('podemos.user_verification.terms_of_service.p1_title') %> </p>
                  <%= simple_format t('podemos.user_verification.terms_of_service.p1') %>
                  <p>2. <%= t('podemos.user_verification.terms_of_service.p2_title') %> </p>
                  <%= simple_format t('podemos.user_verification.terms_of_service.p2') %>
                  <p>3. <%= t('podemos.user_verification.terms_of_service.p3_title') %> </p>
                  <%= simple_format t('podemos.user_verification.terms_of_service.p3') %>
                </div>
              </span>
            </div>
            <%= f.actions class: 'enter' do %>
              <%= f.action :submit, :as => :input, button_html: {class: 'button'} %>
            <% end %>
          </fieldset>
      <% end %>
    </div>
  </div>
</div>
