<% content_for :title, "Informe sobre verificaciones de identidad" %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <% [:autonomias, :provincias].each do |level| %>
      <div>
        <h2><%=level.capitalize %></h2>
        <table class="table">
          <thead>
            <th><%=level.capitalize %></th><th>Pendientes</th><th>Verificados</th><th>Con problemas</th><th>Rechazados</th><th>Total</th><th>Usuarios</th><th>% Usuarios</th>
          </thead>
          <% sum_pending = sum_accepted = sum_accepted_by_email = sum_issues = sum_rejected = sum_total = sum_users = 0 %>
          <% @report[level].each do |territory, info|
               accepted = info[:accepted] + info[:accepted_by_email]
               sum_pending += info[:pending]
               sum_accepted += accepted
               sum_issues += info[:issues]
               sum_rejected += info[:rejected]
               sum_total += info[:total]
               sum_users += info[:users] 
               next if info[:total]==0 %>
              <tr>
                <th><%= territory %></th><td><%=info[:pending] %></td><td><%=info[:accepted] %></td><td><%=info[:issues] %></td><td><%=info[:rejected] %></td><td><%=info[:total] %></td><td><%= info[:users] %></td><td><%= info[:users]>0 ? number_to_percentage(100.0 * accepted / info[:users]) : "-" %></td>
              </tr>
          <% end %>
          <tfoot>
            <th>Totales</th><td><%= sum_pending %></td><td><%= sum_accepted %></td><td><%= sum_issues %></td><td><%= sum_rejected %></td><td><%= sum_total %></td><td><%= sum_users %></td><td><%= sum_users>0 ? number_to_percentage(100.0 * sum_accepted / sum_users) : "-" %></td>
          </tfoot>
        </table>
      </div>
      <% end %>

    </div>
  </div>
</div>
