<% content_for :title, "Informe sobre verificaciones de identidad" %>
<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <% [:autonomias, :provincias].each do |level| %>
      <div>
        <h2><%=level.capitalize %></h2>
        <table class="table-collaborations">
          <tr>
            <th><%=level.capitalize %></th><th>Pendientes</th><th>Verificados</th><th>Con problemas</th><th>Rechazados</th><th>Total</th><th>Usuarios</th>
          </tr>
          <% sum_pending = sum_accepted = sum_accepted_by_email = sum_issues = sum_rejected = sum_total = 0 %>
          <% @report[level].each do |territory, info|
               accepted = info[:verificados] + info[:verificados_por_email]
               sum_pending += info[:pendientes]
               sum_accepted += accepted
               sum_issues += info[:con_problemas]
               sum_rejected += info[:rechazados]
               sum_total += info[:total] %>
              <tr>
                <td><%= territory[1] %></td><td><%=info[:pendientes] %></td><td><%=info[:verificados] %></td><td><%=info[:con_problemas] %></td><td><%=info[:rechazados] %></td><td><%=info[:total] %></td><td><%= info[:usuarios] %> (<%= info[:usuarios]>0 ? number_to_percentage(100.0 * accepted / (info[:usuarios]) : "-" %>)</td>
              </tr>
          <% end %>
          <tr>
            <td>Totales</td><td><%= sum_pending %></td><td><%= sum_accepted %></td><td><%= sum_issues %></td><td><%= sum_rejected %></td><td><%= sum_total %></td>
          </tr>
        </table>
      </div>
      <% end %>

    </div>
  </div>
</div>
