<%= render partial: "steps", locals: {step: 3} %>

<div class="well col-md-6 col-md-offset-3">
  <div class="alert alert-info">
    Introduce el código que hayas recibido por SMS para confirmarlo
  </div>
  <%= semantic_form_for(:sms_token, url: sms_validator_valid_path, html: {method: :post}) do |f| %>
    <%= f.input :sms_user_token %>

    <%= f.actions do %>
      <%= f.action :submit, label: "Comprobar", button_html: {class: "btn btn-primary btn-lg"} %>
    <% end %>
  <% end %>
</div>
