<%= render partial: "steps", locals: {step: 2} %>

<div class="well col-md-6 col-md-offset-3">
  <%= semantic_form_for(:captcha, url: sms_validator_captcha_path, html: {method: :post}) do |f| %>
    <p><%= t('podemos.valid.phone.p4') %></p>
    <hr>
    <%= recaptcha_tags %>
    <hr>
    <%= f.actions do %>
      <%= f.action :submit, label: t('podemos.valid.phone.captcha'), button_html: {class: 'btn btn-primary'} %>
    <% end %>
  <% end %>
</div>
