<% resource = current_user %>
<% resource_name = :user %>

<% @title ||= t("devise.titles.my_account", 
  model: resource_name.to_s.humanize, 
  downcase_model: resource_name.to_s.humanize.downcase) %>

<%= render partial: "steps", locals: {step: 1} %>

<div class="well col-md-6 col-md-offset-3">
  <%= semantic_form_for(resource, as: resource_name, url: sms_validator_phone_path, html: {method: :post}) do |f| %>
    <p><%= t('podemos.valid.phone.p1') %></p>
    <p><%= t('podemos.valid.phone.p2') %></p>
    <p><%= t('podemos.valid.phone.p3') %></p>
    <%= f.input :phone, input_html: {autofocus: true} %>

    <%= f.actions do %>
      <%= f.action :submit, label: "Guardar móvil", button_html: { class: "btn btn-primary" } %>
    <% end %>
  <% end %>
</div>
