<% content_for :title, "Comprueba tu teléfono móvil" %>

<div class="content-content cols">
  <div class="row">

    <div class="col-b-4a12">
    <%= render partial: "steps", locals: {step: 1} %>

      <%= semantic_form_for(current_user, url: sms_validator_phone_path, html: {method: :post}) do |f| %>
          <fieldset>
            <legend class="invisible">Cambia tu móvil</legend>
            <p><%= t('podemos.valid.phone.p1') %></p>

            <p><%= t('podemos.valid.phone.p2') %></p>

            <p>Debes ingresar un teléfono móvil válido para el país en el que te encuentras, sin prefijo internacional, sólo con números (sin espacios ni guiones). Según el formulario que has rellenado te encuentras en <b><%= current_user.country_name %></b> (prefijo internacional +<%= current_user.phone_prefix %>). </p>

            <%= errors_in_form current_user %>

            <div class="inputlabel-box">
              <% if current_user.errors.include?(:unconfirmed_phone) %>
                  <%= field_notice_box %>
              <% end %>
              <%= f.input :unconfirmed_phone, as: :number, prepend: "+#{current_user.phone_prefix}", input_html: {autofocus: true, required: true, value: current_user.unconfirmed_phone_number } %>
            </div>

            <%= f.actions do %>
              <%= f.action :submit, label: "Guardar móvil", button_html: {class: "button"} %>
            <% end %>
          </fieldset>
      <% end %>
    </div>
  </div>
</div>
