<% content_for :title, "Comproba o teu teléfono móbil" %>

<div class="content-content cols">
  <div class="row">

    <div class="col-b-4a12">
    <%= render partial: "steps", locals: {step: 1} %>

      <%= semantic_form_for(current_user, url: sms_validator_phone_path, html: {method: :post}) do |f| %>
          <fieldset>
            <legend class="invisible">Cambia o teu móbil</legend>
            <p><%= t('podemos.valid.phone.p1') %></p>

            <p><%= t('podemos.valid.phone.p2') %></p>

            <p>Debes ingresar un teléfono móbil válido para o país no que che atopas, sen prefixo internacional, só con números (sen espazos nin guións). Segundo o formulario que enchiches atópasche en <b><%= current_user.country_name %></b> (prefixo internacional +<%= current_user.country_phone_prefix %>). Se isto non é correcto, podes cambiar a túa localización na túa <a href="<%=edit_user_registration_path%>">páxina do perfil</a>.</p>

            <%= errors_in_form current_user %>

            <div class="inputlabel-box">
              <% if current_user.errors.include?(:unconfirmed_phone) %>
                  <%= field_notice_box %>
              <% end %>
              <%= f.input :unconfirmed_phone, as: :number, prepend: "+#{current_user.country_phone_prefix}", input_html: {autofocus: true, required: true, value: current_user.unconfirmed_phone_national } %>
            </div>

            <%= f.actions do %>
              <%= f.action :submit, label: "Gardar móbil", button_html: {class: "button"} %>
            <% end %>
          </fieldset>
      <% end %>
    </div>
  </div>
</div>
