<%= render partial: "steps", locals: {step: 3} %>

<div class="well col-md-6 col-md-offset-3">
  <%= semantic_form_for(:sms_token, url: sms_validator_valid_path, html: {method: :post}) do |f| %>
    <p><%= t('podemos.valid.phone.p5') %></p>
    <hr>
    <%= f.input :sms_user_token, label: t('podemos.valid.phone.token') %>
    <hr>

    <%= f.actions do %>
      <%= f.action :submit, label: t('podemos.valid.phone.button'), button_html: {class: "btn btn-primary btn-lg"} %>
    <% end %>
  <% end %>
</div>
