<% content_for :title, t('podemos.valid.phone.p5') %>

<div class="content-content cols">
  <div class="row">

    <div class="col-b-4a12">

      <%= render partial: "steps", locals: {step: 3} %>

      <%= errors_in_form current_user %>

      <%= semantic_form_for(current_user, url: sms_validator_valid_path, html: {method: :post}) do |f| %>

          <fieldset>
            <legend class="invisible">Código SMS</legend>

            <p><%= t('podemos.valid.phone.p5') %></p>

            <div class="inputlabel-box">
                <% if current_user.errors.include?(:phone) %>
                  <%= field_notice_box %>
                <% end %>
                <%= f.input :sms_user_token_given, label: t('podemos.valid.phone.token') %>
            </div>


            <%= f.actions class: 'enter' do %>
                <%= f.action :submit, label: t('podemos.valid.phone.button'), button_html: {class: "button"} %>
            <% end %>
          </fieldset>
      <% end %>
    </div>
  </div>
</div>
