<% content_for :title, t("devise.titles.sign_in") %>

<div class="people-bg">
  <div class="content-content-home">

    <div class="row">
      <div class="col-bhome-9a12">
        <div class="login-box">
          <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
            <fieldset>
              <legend>
                <%= t('devise.links.sign_in') %>
              </legend>
              <div>
                <%= f.label :login, class: 'invisible' %>
                <%= f.text_field :login, autofocus: true, class: 'input-100', placeholder: 'Email o Documento (DNI / NIE / Pasaporte)' %>
              </div>
              <div>
                <%= f.label :password, class: 'invisible' %>
                <%= f.password_field :password, class: 'input-100', placeholder: 'Contraseña' %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="remember">
                  <%= f.label :remember_me %>
                  <%= f.check_box :remember_me, class: 'remember checkbox' %>
                </div>
              <% end %>

              <div class="enter">
                <%= f.submit t('devise.buttons.sign_in'), class: 'button' %>
              </div>
            </fieldset>
            <p>
              <%= link_to t("devise.links.forgot_password"), new_password_path(resource_name) %>
            </p>
            <p>
              <%= link_to "No he recibido el correo de confirmación", new_confirmation_path(resource_name) %>
            </p>
            <p><%= link_to "¿Problemas con la inscripción?", faq_path %></p>
          <% end %>
        </div><!--.login-box-->
      </div><!--.col-b-9a12-->

      <div class="col-bhome-1a6">
        <article class="intro">
        <p>Bienvenido/a al Portal de Participación de Podemos.</p>
        <p><em class="podemos">Podemos</em> nace con la voluntad de construir una forma nueva de hacer política, y para ello estamos construyendo una estructura transparente, ciudadana, abierta, democrática y eficaz. Una organización que responda al impulso democratizador de Podemos, en la que discutamos, debatamos y decidamos entre todos y todas. </p>
        <p>Vota en el proceso interno de Galicia desde el 8 hasta el 10 de abril a las 23.59h</p>
        <p>El censo válido para la votación del proceso interno en Galicia está cerrado desde el día 5 de abril de 2016 a las 16h00.</p>
        <p>Vota en las consultas para pactos el 14 y el 16 de abril.</p>
        <p>El censo válido para las consultas sobre pactos está cerrado desde el día 8 de abril de 2016 a las 12h00.</p>
        <p class="total">Ya somos
        <span>
          <% cache("total_users", expires_in: 30.minutes) do %>
            <%= number_with_delimiter User.confirmed.count %>
          <% end %>
        </span>
        personas inscritas.</p>
          <p>Inscríbete y participa.</p>
          <div class="buttonbox">
            <%= link_to "Inscripción", new_user_registration_path, class: 'button intro-indent clear' %>
          </div>
        </article><!--.intro-->

      </div><!--.col-b-1a3-->

    </div><!--.row-->

  </div><!--.content-content-->
</div><!--#content-->
