<% content_for :title, t("devise.titles.sign_in") %>

<div class="people-bg">
  <div class="content-content-home">

    <div class="row">
      <div class="col-bhome-9a12">
        <div class="login-box">
          <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
            <fieldset>
              <legend>
                <%= t('devise.links.sign_in') %>
              </legend>
              <div>
                <%= f.label :login, class: 'invisible' %>
                <%= f.text_field :login, autofocus: true, class: 'input-100', placeholder: 'Email o Documento (DNI / NIE / Pasaporte)' %>
              </div>
              <div>
                <%= f.label :password, class: 'invisible' %>
                <%= f.password_field :password, class: 'input-100', placeholder: 'Contraseña' %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="remember">
                  <%= f.label :remember_me %>
                  <%= f.check_box :remember_me, class: 'remember checkbox' %>
                </div>
              <% end %>

              <div class="enter">
                <%= f.submit t('devise.buttons.sign_in'), class: 'button' %>
              </div>
            </fieldset>
            <p>
              <a style="font-size:1.3em;" href="/soporte-votaciones">Ayuda para acceder a votar</a>
            </p>
            <p>
              <%= link_to t("devise.links.forgot_password"), new_password_path(resource_name) %>
            </p>
          <% end %>
        </div><!--.login-box-->
      </div><!--.col-b-9a12-->

      <div class="col-bhome-1a6">
        <article class="intro">
        <p>Bienvenido/a al Portal de Participación de Podemos.</p>
        <p><em class="podemos">Podemos</em> nace con la voluntad de construir una forma nueva de hacer política, y para ello estamos construyendo una estructura transparente, ciudadana, abierta, democrática y eficaz. Una organización que responda al impulso democratizador de Podemos, en la que discutamos, debatamos y decidamos entre todos y todas.</p>

        <% if @upcoming_election %>
          <% cache("current_active_census", expires_in: 5.minutes) do %>
            <p>Accede al portal de participación y vota en la consulta sobre la nueva hoja de ruta de Podemos Madrid. Del <%=l(@upcoming_election.starts_at, format: if @upcoming_election.starts_at.month==@upcoming_election.ends_at.month then "%-d" else "%-d de %B" end )%> al <%=l(@upcoming_election.ends_at, format: "%-d de %B")%>.</p>
            <% if @upcoming_election.user_created_at_max %>
              <p>El censo válido para esta votación está cerrado desde el día <%=l(@upcoming_election.user_created_at_max, format: "%-d de %B de %Y a las %H:%M horas")%>.</p>
            <% end %>
            <p class="total">Personas inscritas activas: <span><%=number_with_delimiter @upcoming_election.current_active_census%></span></p>
            <p>Censo total llamado al voto: <%=number_with_delimiter @upcoming_election.current_total_census%></p>
          <% end %>
        <% else %>
          <p class="total">Ya somos
          <span>
            <% cache("total_users", expires_in: 30.minutes) do %>
              <%= number_with_delimiter User.confirmed.count %>
            <% end %>
          </span>
          personas inscritas.</p>
        <% end %>
          <div class="buttonbox">
            <%= link_to "Inscripción", new_user_registration_path, class: 'button intro-indent clear' %>
          </div>
        </article><!--.intro-->

      </div><!--.col-b-1a3-->

    </div><!--.row-->

  </div><!--.content-content-->
</div><!--#content-->
