<% content_for :title, "Equipos de Acción Participativa" %>
<div class="content-content cols">
  <div class="row justify-texts">
    <div class="col-b-4a12">
      <%= content_tag(:h2, "Equipos de Acción Participativa") %>

      <div class="buttonbox">
        <%= render partial: "wants_participation_buttons" %>
      </div>

      <div id="participation_teams_info">

        <br/>
        <br/>
          <%= content_tag(:h3, "Equipos de campaña") %>
          <p>Nos encontramos a un momento decisivo para cambiar el rumbo del contexto político de nuestro país. Para ello, frente a otros partidos que tienen un gran capital económico para invertir en campaña, nosotros y nosotras contamos con el apoyo y la ilusión de cientos de personas que quieren apoyar el proyecto. Para canalizar toda esta gente, se lanzan los Equipos de Campaña, una iniciativa dirigida a todas aquellas personas que deseen formar parte activa de la campaña que Podemos realizar en las elecciones generales. Estos equipos son una manera de recoger y organizar la ilusión que ha despertado Podemos desde hace más de un año, en forma de pequeñas acciones y actividades que se van a llevar a cabo durante esta campaña para las generales, y de cuyo éxito dependerá gran parte de nuestras posibilidades electorales. Tiene que ser una red abierta y dinámica, un lugar de encuentro, de acción y participación que resalte nuestro mayor valor: “somos gente corriente haciendo cosas extraordinarias”.</p>
          <p>Dadas las grandes diferencias entre municipios y comunidades autónomas, estos equipos tendrán la tarea de adecuar las dinámicas de campañas a las especificidades locales, además de innovar con otras que piensen que puedan cumplir una función relevante en su territorio. Tener la oportunidad de compartir estas experiencias y replicar las que identifiquemos como las más destacadas puede activar un proceso de inteligencia colectiva que nos lleve a superar todas nuestras expectativas.</p>
          <p>Si quieres formar parte de esta campaña ¡Incorpórate a los Equipos de Campaña y en breve nos pondremos en contacto contigo!</p>

          <p><%= link_to "Ver la Guía del Área de Participación", "http://podemos.info/guia-del-area-de-participacion/" %></p>
      </div>

      <div class="buttonbox">
        <%= render partial: "wants_participation_buttons" %>
      </div>

    </div>
  </div>
</div>
