<% content_for :title, "Votación de #{ election.full_title_for current_user }" %>
<% if current_user.vote_autonomy_code == "c_10"
    force_language = "gl"
   else
    force_language = "es"
   end
%>

<script>
    function getCastHmac(auth_data, callback) {
		// auth_data is of type:
		// {
		//   permission: "vote",
		//   object_type: "election",
		//   object_id: 110
		// }
		$.ajax("<%= create_token_vote_path %>")
			.done(function(data) {callback("khmac:///sha-256;"+data);})
			.fail(function(jqXHR) {window.location.href=jqXHR.responseText});
    }
</script>

<div class="booth_container">
<a class="agoravoting-voting-booth" href="<%= election.server_url %>booth/<%= @scoped_agora_election_id %>/vote?lang=<%= force_language %>" data-authorization-funcname="getCastHmac">Votar con Agora Voting</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="<%= election.server_url %>admin/avWidgets.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","agoravoting-widgets-js");</script>
</div>
<% if election.info_url.present? && election.info_text.present? %>
<a class="view_candidates" href="<%= election.info_url %>" target="_blank"><%= election.info_text %></a>
<% end %>
