<p>Estimado/a <%=@relation %>:</p>

<>Le informamos que, con relación a la <%=@type %> que suscribió con nosotros, se han producido varias devoluciones de recibos domiciliados, por lo que ésta se ha suspendido cautelarmente a fin de evitar más gastos de devolución<%=@extra %>.<br>Si el motivo es que no desea seguir colaborando con nosotros le rogamos envíe un correo electrónico a <a href="colaboraciones@podemos.info">colaboraciones@podemos.info</a> solicitando la baja de la <%=@type %>, pero si las devoluciones se han producido por alguna causa ajena a usted por favor póngase en contacto con su banco a fin de averiguar el problema y una vez subsanado con nosotros para de volver a activar la colaboración.</p>

<p>Sin otro particular, reciba un cordial saludo.</p>

<%=@brand_config["mail_signature"]%>
