<article class="proposal">
    
    <div class="author">
		<figure>
			<%= image_tag("author-example.jpg", alt: "Alberto García") %>
		</figure>
    	<p class="name">Alberto García<br>
		<span class="date">hace 1 día</span></p>
    </div>

	<%= image_tag("proposal-example.jpg", alt: "") %>

    <h2>
    	<%= proposal.title %>
    </h2>
    
    <p>
      <%= truncate(proposal.description, length: 300) %>
    </p>

	<div class="info">
    	<%= link_to("Ver iniciativa", proposal ) %> | Termina en <%= time_left(proposal) %> | 
        <%= render "supports/new", {proposal: proposal, button_class: 'support'} %>
    </div>  	

</article>
