<section class="proposal-index">
  
  <h1>Iniciativas Ciudadanas</h1>

  <nav>
    <%= link_to "Nuevas",     proposals_path(filter: 'new'),  :class => "active" %>
    <%= link_to "Populares",  proposals_path(filter: 'top'),  :class => "" %>
    <%= link_to "Por tiempo", proposals_path(filter: 'time'), :class => "" %>
    <%= link_to "Candentes",  proposals_path(filter: 'hot'),  :class => "" %>
  </nav>
  
  <ul>
    <%= render @proposals %>
  </ul>

</section>