<section class="proposal-wrapper">
  
    <div class="container">
        
        <%= link_to "Volver", proposals_path,  :class => "back" %>

        <article class="proposal no-border-bottom">
            <div class="author">
                <figure>
                  <%= image_tag("author-example.jpg", alt: @proposal.author) %>
                </figure>            
                <p class="name"><%= @proposal.author %><br>
                <span class="date">hace <%= formatted_created_at(@proposal) %></span></p>
            </div>

            <%= image_tag(proposal_image(@proposal), alt: "") %>

            <h2>
                <%= @proposal.title %>
            </h2>
        
            <p>
                <%= formatted_description(@proposal) %>
            </p>
        
            <div class="info">
                <%= link_to "Debate en Plaza Podemos", @proposal.reddit_url, :target => '_blank' %> | Termina en <%= time_left(@proposal) %>
            </div>
        </article>
    
    </div> 
  
    <div class="sidebar">
        <h2>Información</h2>

        <article class="proposal-sidebar no-border-bottom">    
                <p class="threshold">Umbrales</p>
                <p class="check"><strong>0,2%</strong> de Votos positivos en <br>
                <%= link_to "Plaza Podemos", @proposal.reddit_url, :target => '_blank' %>
                </p>
                <p class="times"><strong>2%</strong> de Apoyos</p>
                <p class="times"><strong>10%</strong> de Apoyos</p>
               
                <div class="divider"></div>
               
                <p class="times"><strong>20%</strong> de círculos apoyando</p>

                <div class="divider"></div>
                
                <p class="info">
                    <%= formatted_support_count(@proposal) %> Apoyos necesarios
                    <br>
                    <%= formatted_support_percentage(@proposal, significant: true) %> de 10% necesario
                </p>
                
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="10" style="width: 10%">
                    </div>
                </div>
                
                <%= link_to "0,6% de círculos apoyando", "#", :class => 'info-circles' %>

                <p class="time-left">Quedan <%= time_left(@proposal) %> para avalar esta propuesta.</p>
                <%= render "supports/new", {proposal: @proposal, button_class: 'button-support'} %>
        </article>
    </div>

</div>
