<form target="_top" id="redsys_payment_form" method="post" target="_blank" action="<%= @collaboration.redsys_secret "post_url" %>" class="js-collaboration-form">
<% for name, value in @collaboration.params %>
  <input type="hidden" name="<%=name%>" value="<%= value %>" class="js-<%=name%>">
<% end %>
  <div class="js-collaboration-confirm-buttons buttonbox">
    <%= link_to "Cancelar", destroy_collaboration_path, class: 'button button-danger', method: :delete, data: {confirm: "¿Estás seguro que no quieres confirmar esta colaboración?"} %>
    <%# link_to "Confirmar", "#", class: "button js-collaboration-confirm" %>
    <input type="submit" value="Confirmar" class="button">
  </div>

</form>

<div class="js-collaboration-confirm-ajax hidden">
  <%= alert_box "Información" do  %>
    <%= image_tag "ajax-loader.gif" %>
    <p>Hemos abierto una ventana para que realices el pago con RedSYS. Por favor completa ese proceso y vuelve aquí cuando hayas terminado </p>
  <% end %>
</div>
