
<form target="_top" id="redsys_payment_form" method="post" action="<%= @collaboration.redsys_url_post %>" class="js-collaboration-form">
  <input type="hidden" name="Ds_Merchant_Amount"            value="<%= @collaboration.amount %>">
  <input type="hidden" name="Ds_Merchant_Currency"          value="<%= @collaboration.redsys_secret "currency" %>">
  <input type="hidden" name="Ds_Merchant_Order"             value="<%= @collaboration.redsys_order %>">
  <input type="hidden" name="Ds_Merchant_MerchantCode"      value="<%= @collaboration.redsys_secret "code" %>">
  <input type="hidden" name="Ds_Merchant_Terminal"          value="<%= @collaboration.redsys_secret "terminal" %>">
  <input type="hidden" name="Ds_Merchant_TransactionType"   value="<%= @collaboration.redsys_secret "transaction_type" %>">
  <input type="hidden" name="Ds_Merchant_MerchantURL"       value="<%= @collaboration.redsys_secret "url" %>">
  <input type="hidden" name="Ds_Merchant_MerchantSignature" value="<%= @collaboration.redsys_merchant_signature %>">

  <div class="js-collaboration-confirm-buttons">
    <%= link_to "Cancelar", destroy_collaboration_path, class: 'button button-danger', method: :delete, data: {confirm: "¿Estás seguro que no quieres confirmar esta colaboración?"} %>
    <input type="submit" value="Confirmar" class="button" >
  </div>
</form>

<div class="js-collaboration-confirm-ajax hidden">
  <%= alert_box "Información" do  %>
    <%= image_tag "ajax-loader.gif" %>
    <p>Hemos abierto una ventana para que realices el pago con RedSYS. Por favor completa ese proceso y vuelve aquí cuando hayas terminado </p>
  <% end %>
</div>
