<dl class="dl-horizontal">
  <dt>Importe</dt>
  <dd><%= number_to_euro @collaboration.amount %></dd>
  <dt>Frecuencia de pago</dt>
  <dd>cada <%= @collaboration.frequency * 30 %> días</dd>
  <dt>Método de pago</dt>
  <dd><%= @collaboration.payment_type_name %></dd>
  <dt>Cuenta bancaria</dt>
  <dd>
  <% if @collaboration.is_bank_national? %>
    <%= @collaboration.ccc_full %>
  <% end %>
  <% if @collaboration.is_bank_international? %>
    IBAN: <%= @collaboration.iban_account %> <br>
    BIC: <%= @collaboration.iban_bic %>
  <% end %>
  </dd>

</dl>

<% if @collaboration.frequency > 0 %>
<table class="table-collaborations">
  <caption class="invisible">Colaboraciones</caption>
  <thead>
    <th>Fecha de pago</th>
    <th>Importe</th>
  </thead>
  <tbody>
  <% freq = @collaboration.frequency %>
  <% (0..(freq)).each do |f| %>
    <tr>
      <td> <%= l(@collaboration.created_at + @collaboration.frequency.days * (30 * f), format: :long) %> </td>
      <td> <%= number_to_euro @collaboration.amount %> </td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>Total</th>
      <th><%= number_to_euro((freq + 1 ) * @collaboration.amount) %></th>
    </tr>
  </tfoot>
</table>
<% end %>

