<% content_for :title, t("podemos.collaboration.title") %>

<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">
      <%= content_tag(:h2, t("podemos.collaboration.title")) %>

      <%= render partial: "steps", locals: {step: 2} %>

      <p> Revisa y confirma todos los datos para guardar la colaboración.</p>
      <%= render partial: "frequency_table" %>

      <% if @collaboration.is_credit_card? %>
        <%= render partial: "form_redsys" %>
      <% else %>
        <%= render partial: "form_bank" %>
      <% end %>
    </div>
  </div>
</div>
