<% content_for :title, t("podemos.collaboration.title") %>

<div class="content-content cols">
  <div class="row">
    <div class="col-b-4a12">

      <%= content_tag(:h2, t("podemos.collaboration.title")) %>

      <%= info_box do %>
          <p><%= t("podemos.collaboration.p1") %></p>
      <% end %>

      <% if @collaboration.has_payment? %>
          <%= error_box "Cambios en la colaboración", false do %>
            <p>Nos hemos visto en la obligación de desactivar el pago con tarjetas de crédito o débito, dado que realizar las aportaciones de esta forma le acarrea a la entidad financiera muchos problemas a la hora de poder cumplir con las exigencias legales en cuanto a identificación de las entradas ante el Tribunal de Cuentas.
              <% if @collaboration.is_credit_card? %>
            Te rogamos que, a fin de evitar este tipo de inconvenientes, modifiques la forma de pago de tu aportación para que pueda ser cobrada a través de recibo domiciliado.
              <% end %>
            </p>
          <% end %>
      <% end %>

      <p> Ya tienes una colaboración. Es la siguiente: </p>
      <%= errors_in_form @collaboration %>

      <%= semantic_form_for @collaboration, url: modify_collaboration_path, html: {method: :post, autocomplete: 'off'} do |f| %>

      <%= render partial: "form", locals: { f: f } %>
      <%= render partial: "frequency_table" %>

      <div class="js-collaboration-confirm-buttons buttonbox">
        <%= link_to "Dar de baja colaboración", destroy_collaboration_path, class: 'button button-danger', method: :delete, data: {confirm: "¿Estás seguro que quieres dar de baja esta colaboración?"} %>
        <%= f.action :submit, :label=>"Guardar cambios", :as => :input, button_html: {class: 'button'} %>
      </div>
      <% end %>
    </div>
  </div>
</div>
