<% content_for :title, @category.name %>
<section class="generic-wrapper blog">
    <h1>Entradas sobre <%= @category.name %></h1>

    <div class="container">
        <div>
            <% @category.posts.each do |post| %>
                <%= render "post", post: post %>
            <% end %>
        </div>
        <p class="links">
            <%= link_to_previous_page @posts, fa_icon("chevron-circle-right", text:'Posteriores') , class: 'right'%>
            <%= link_to_next_page @posts, fa_icon("chevron-circle-left", text:'Anteriores') %>
        </p>
    </div>

    <div class="sidebar">
        <h2>Categorias</h2>
        <ul>
        <% @categories.each do |category| %>
          <li class="<%= "active" if category==@category%>"><%= link_to(category.name, category ) %></li>
        <% end %>
        </ul>
    </div> 
</section>
