<p><%= t('podemos.devise.mailer.hello') %>  <%= @resource.email %>!</p>

<p><%= t('podemos.devise.mailer.password.p2') %></p>

<p><%= link_to t('podemos.devise.mailer.password.link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('podemos.devise.mailer.password.p2') %></p>
<p><%= t('podemos.devise.mailer.password.p3') %></p>
