<p><%= t('podemos.devise.mailer.hello') %> <%= @resource.email %>!</p>

<p><%= t('podemos.devise.mailer.lock.p1') %></p>

<p><%= t('podemos.devise.mailer.lock.p2') %></p>

<p><%= link_to unlock_url(@resource, unlock_token: @token), unlock_url(@resource, unlock_token: @token) %></p>

<p><%= t('podemos.devise.mailer.lock.p3') %></p>
