
<%= semantic_form_for([:admin, @user], builder: Formtastic::FormBuilder) do |f| %>
  <%= f.inputs "Admin Details" do %>
    <%= f.input :email %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :document_type, as: :radio, collection: User::DOCUMENTS_TYPE %>
    <%= f.input :document_vatid %>
    <%= f.input :born_at,
                  required: true,
                  placeholder: 'dd/mm/aaaa',
                  input_html: {  required: true, class: 'input-m', value: f.object.born_at ? I18n.l(f.object.born_at) : f.object.born_at || "" },
                  start_year: 1900,
                  end_year: 1996 %>

    <%= f.input :address %>
    <%= f.input :town %>
    <%= f.input :postal_code %>
    <div class="js-registration-province hidden" style="display:none;"><%= f.object.province %></div>
    <%= render partial: 'subregion_select', locals: {parent_region: f.object.country, subregion: f.object.province} %>
    <%= f.input :country, required: true, input_html: {required: true, class: "js-registration-country"} %>
    <%= f.input :circle %>
    <%= f.input :wants_newsletter %>
  <% end %>
  <%= f.actions %>
<% end %>
