<li class="select input required" id="js-registration-user_<%=field%>-wrapper"><%= label :user, :town, class: "control-label", required: :required do %><%= title %><abbr title="requerido">*</abbr></label><% end %>
    <% towns = get_towns(country, province) %>
    <% if towns.length>0 %>
        <%= select_tag "user[#{field}]", "<option></option>".html_safe+options_from_collection_for_select(towns, "code", "name", town), {required: "required", data: {placeholder: "-- Elige un municipio --"} } %>
    <% else %>
      <%= text_field(:user, field, class: "input-xl form-control") %>
    <% end %></li>
