<%= semantic_form_for :users, :url => { :action => "users_in_vote_circles" } do |f| %>
  <span class="form-wrapper">
    <%= label :vote_circle_autonomy, class: "control-label", required: false do %>
        <%="Seleciona una CCAA" %>
      <% end %>
    <% autonomies = Hash[ Podemos::GeoExtra::AUTONOMIES.map do |k, v| [ v[1],v[0][2..3] ] end ] %>
    <%= select_tag "vote_circle_autonomy", options_for_select(autonomies), {required: false , data: {allowClear: true}, include_blank: "Todas las CCAAs" } %></li>

    <%= label :vote_circle_autonomy, class: "control-label", required: false do %>
        <%="Seleciona una Círculo" %>
      <% end %>
    <% vote_circles = Hash[ VoteCircle.all.pluck(:code,:original_name).map do |k,v| [k,v,k[2..3]] end ] %>
    <%= select_tag "vote_circle_id", options_for_select(vote_circles), {required: false , data: {allowClear: true}, include_blank: "Todas las CCAAs" } %></li>
  </span>
  <div class="buttons">
    <%= f.actions do %>
      <%= f.action :submit, label: 'Descargar fichero', :as => :button %>
    <% end %>
  </div>
<% end %>