<div class="footer">
  <div class="footer-content">
    <div class="row">

      <div class="col-f-1a3">
        <div class="footer-contact">
          <h2 class="footer-logo"><a href="http://enmarea.gal"><img alt="EnMarea" src="/app/assets/images/enmarea_logo_footer.png"></a></h2>
          <p>Praza Horta de Abaixo, 5</p>
          <p>15220 Ames - A Coruña</p>
          <!--<p><%= link_to "¿Problemas con la inscripción?", faq_path %></p>-->
          <p><a href="mailto:soporte@enmarea.gal">Problemas coa afiliación?</a></p>

          <!-- nav class="languages">
            <ul>
              <li class="lang-castellano">
                <%= link_to "Castellano", url_for(locale: :es), class: current_lang_class(:es) %>
              </li>
              <li class="lang-catala">
                <%= link_to "Català", url_for(locale: :ca), class: current_lang_class(:ca) %>
              </li>
              <li class="lang-euskara">
                <%= link_to "Euskera", url_for(locale: :eu), class: current_lang_class(:eu) %>
              </li>
              <li class="lang-galician">
                <%= link_to "Galego", url_for(locale: :gl), class: current_lang_class(:gl) %>
              </li>
            </ul>
          </nav -->
        </div><%#!--.footer-contact--%>
      </div><%#!--.col-f-1a3--%>


       <div class="col-f-4a5">
        <div class="footer-conoce">
          <h2>EN MAREA</h2>
          <ul>
            <li>
              <a href="https://enmarea.gal/novas">Actualidade</a>
            </li>
            <li>
              <a href="http://congreso.enmarea.gal/">Congreso</a>
            </li>
             <li>
              <a href="https://enmarea.gal/axenda">Axenda</a>
            </li>
          </ul>
        </div><%#!--.footer-conoce--%>
      </div><%#!--.col-f-4a5--%>


      <!--div class="col-f-6a7">
        <div class="footer-informate">
          <h2>INFORMACION</h2>
          <ul>                     
          </ul>
        </div><%#!--.footer-participa--%>
      </div--><%#!--.col-f-6a7--%>

      <!--div class="col-f-8a9">
        <div class="footer-participacion">
          <h2>Colabora</h2>
          <ul>
            <li>
              <a href="https://achegas.enmarea.gal/">Achegas</a>
            </li>
            <li>
              <a href="https://achegas.enmarea.gal/microcreditos-persoais/">Microcreditos</a>
            </li>
          </ul>
        </div><%#!--.footer-conoce--%>
      </div--><%#!--.col-f-8a9--%>

      <div class="col-f-10a12">
        <div class="footer-siguenos">
          <h2>Síguenos</h2>
          <ul>
            <li>
              <%= link_to "https://www.youtube.com/channel/UCeHD4CF-0B-2JOslfVfd01w", :target => "_blank" do %>
                <%= image_tag "ico.social45-youtube-on.png", alt: "YouTube" %>
              <% end %>
            </li>
            <li>
              <%= link_to "https://www.facebook.com/EnMareaGal/",:target => "_blank" do %>
                <%= image_tag "ico.social45-facebook-on.png", alt: "Facebook" %>
              <% end %>
            </li>
            <li>
              <%= link_to "https://twitter.com/en_marea", :target => "_blank" do %>
                <%= image_tag "ico.social45-twitter-on.png", alt: "Twitter" %>
              <% end %>
            </li>
          </ul>
        </div><%#!--.footer-participa--%>
      </div><%#!--.col-f-10a12--%>

    </div><!--.row-->

    <div class="row">
      <div class="col-f-1a12">
        <ul class="disclaimer-links">
          <li> <%= link_to "#{Date.today.year} enmarea.gal", '#' %> </li>
          <li> <%= link_to "Condicións de uso, emprego de cookies e poltica de privacidade", page_privacy_policy_path %> </li>
          <li> <a href="http://mareaconstituinte.gal/documentos/">|  Documentos Marea Constituinte</a> </li>
        </ul>
      </div><%#!--.col-f-1a12--%>
    </div><%#!--.row--%>

  </div><%#!--.footer-content--%>
</div><%#!--#pie--%>
