<div class="footer">
  <div class="footer-content">
    <div class="row">

      <div class="col-f-1a3">
        <div class="footer-contact">
          <h2 class="footer-logo">Podemos</h2>
          <p>C/ Zurita, 21</p>
          <p>28012 Madrid</p>
          <p><a href="mailto:contacto@podemos.info">contacto@podemos.info</a></p>

          <nav class="languages">
            <ul>
              <li class="lang-castellano">
                <%= link_to "Castellano", url_for(locale: :es), class: current_lang_class(:es) %>
              </li>
              <li class="lang-catala">
                <%= link_to "Català", url_for(locale: :ca), class: current_lang_class(:ca) %>
              </li>
              <li class="lang-euskara">
                <%= link_to "Euskara", url_for(locale: :eu), class: current_lang_class(:eu) %>
              </li>
            </ul>
          </nav>
        </div><%#!--.footer-contact--%>
      </div><%#!--.col-f-1a3--%>

      <%# TODO: Add proper links %>
      <div class="col-f-4a5">
        <div class="footer-conoce">
          <h2>Conoce</h2>
          <ul>
            <li>
              <a href="#">Candidatos</a>
            </li>
            <li>
              <a href="#">Proyecto</a>
            </li>
            <li>
              <a href="#">Programa</a>
            </li>
            <li>
              <a href="#">Cuentas</a>
            </li>
            <li>
              <a href="#">Equipo</a>
            </li>
          </ul>
        </div><%#!--.footer-conoce--%>
      </div><%#!--.col-f-4a5--%>

      <%# TODO: Add proper links %>
      <div class="col-f-6a7">
        <div class="footer-participa">
          <h2>Participa</h2>
          <ul>
            <li>
              <%= link_to "Vota", '#' %>
            </li>
            <li>
              <%= link_to "Participa", '#' %>
            </li>
            <li>
              <%= link_to "Círculos Podemos", '#' %>
            </li>
            <li>
              <%= link_to "Contacto", '#' %>
            </li>
          </ul>
        </div><%#!--.footer-participa--%>
      </div><%#!--.col-f-6a7--%>

      <%# TODO: Add proper links %>
      <div class="col-f-8a9">
        <div class="footer-informate">
          <h2>Infórmate</h2>
          <ul>
            <li>
              <%= link_to "Actos y agenda", '#' %>
            </li>
            <li>
              <%= link_to "Prensa", '#' %>
            </li>
            <li>
              <%= link_to "Materiales", '#' %>
            </li>
          </ul>
        </div><%#!--.footer-participa--%>
      </div><%#!--.col-f-8a9--%>

      <div class="col-f-10a12">
        <div class="footer-siguenos">
          <h2>Síguenos</h2>
          <ul>
            <li>
              <%= link_to "https://www.youtube.com/user/CirculosPodemos/" do %>
                <%= image_tag "ico.social45-youtube-on.png", alt: "YouTube" %>
              <% end %>
            </li>
            <li>
              <%= link_to "https://www.facebook.com/pages/Podemos/269212336568846" do %>
                <%= image_tag "ico.social45-facebook-on.png", alt: "Facebook" %>
              <% end %>
            </li>
            <li>
              <%= link_to "https://twitter.com/ahorapodemos" do %>
                <%= image_tag "ico.social45-twitter-on.png", alt: "Twitter" %>
              <% end %>
            </li>
            <li>
              <%= link_to "https://plus.google.com/+CirculosPodemos/" do %>
                <%= image_tag "ico.social45-gplus-on.png", alt: "Google +" %>
              <% end %>
            </li>
          </ul>
        </div><%#!--.footer-participa--%>
      </div><%#!--.col-f-10a12--%>

    </div><!--.row-->

    <div class="row">
      <div class="col-f-1a12">
        <ul class="disclaimer-links">
          <li>
            <%= link_to "2014 podemos.info", '#' %>
          </li>
          <li>
            <%= link_to "Condiciones de uso, empleo de cookies y política de privacidad", page_privacy_policy_path %>
          </li>
        </ul>
      </div><%#!--.col-f-1a12--%>
    </div><%#!--.row--%>

  </div><%#!--.footer-content--%>
</div><%#!--#pie--%>
