<div class="header">

  <div class="header-content">

    <div class="col-h-1a3">
      <figure class="logo">
        <a href="/">
          <h1>
            <%= image_tag "logo.podemos-220-w.png", alt: "PODEMOS" %>
          </h1>
        </a>
      </figure>
    </div><!--col-h-1-->

    <% if user_signed_in? %>

    <div class="col-h-4a12">
      <nav class="menu" id="top_menu">
        <ul>
          <li class="menu-hamb">
            <a id="hamburger_menu" href="#">
              <span>Menú</span>
            </a>
          </li>
          <li class="menu-logout">
            <%= nav_menu_link_to "Salir", destroy_user_session_path, [destroy_user_session_path], method: :delete, title: "Cerrar sesión" %>
          </li>
          <li class="menu-tools">
            <%= nav_menu_link_to "Herramientas", root_path, [root_path], title: "Herramientas" %>
          </li>
          <li class="menu-team">
            <%= nav_menu_link_to "Equipos de Participación", participation_teams_path, [participation_teams_path], title: "Equipos de Participación" %>
          </li>
          <!-- li class="menu-notif">
            <%# nav_menu_link_to "Avisos", notices_path, [notices_path], class: new_notifications_class %>
          </li -->
          <% if Rails.env.development? or Rails.env.staging? %>
              <li class="menu-econ">
                <%= nav_menu_link_to "Colaboración económica", new_collaboration_path, [new_collaboration_path] %>
              </li>
          <% end %>
          <li class="menu-profile">
            <%= nav_menu_link_to "Datos personales", edit_user_registration_url, [edit_user_registration_path], title: "Datos personales" %>
          </li>
          <li class="menu-name">
            <% link_to edit_user_registration_path do %>
              <span class="name">
                <%= current_user.try(:first_name) %>
              </span>
              <span class="surname">
                <%= current_user.try(:last_name) %>
              </span>
            <% end %>
          </li>
        </ul>
      </nav><%#.menu%>
    </div><%#.col-h-2a4%>
    <%= render partial: 'sidr_menu' %>
    <% end %>

  </div><!--.header-content-->
</div><!--#header-->
