<div class="header">

  <div class="header-content">

    <div class="col-h-1a3">
      <figure class="logo">
        <a href="/">
          <h1>
            <%= image_tag "logo.podemos-220-w.png", alt: "PODEMOS" %>
          </h1>
        </a>
      </figure>
    </div><!--col-h-1-->

    <% if user_signed_in? %>

    <div class="col-h-4a12">
      <nav class="menu" id="top_menu">
        <ul>
          <li class="menu-hamb">
            <a id="hamburger_menu" href="#">
              <%=fa_icon "bars"%> <span>Menú</span>
            </a>
          </li>
          <li>
            <%= nav_menu_link_to "Inicio", "home", root_path, [root_path], title: "Inicio" %>
          </li>
          <li>
            <%= nav_menu_link_to "Datos personales", "user", edit_user_registration_path, [edit_user_registration_path], title: "Datos personales" %>
          </li>
          <li>
            <%= nav_menu_link_to "Colabora", "euro", new_collaboration_path, [new_collaboration_path], title: "Colabora"  %>
          </li>
          <li>
            <%= nav_menu_link_to "Microcréditos", "leaf", microcredit_path, [microcredit_path], title: "Microcréditos"  %>
          </li>
          <li>
            <%= nav_menu_link_to "Salir", "sign-out", destroy_user_session_path, [destroy_user_session_path], method: :delete, title: "Cerrar sesión" %>
          </li>
        </ul>
      </nav><%#.menu%>
    </div><%#.col-h-2a4%>
    <%= render partial: 'sidr_menu' %>
    <% end %>

  </div><!--.header-content-->
</div><!--#header-->
