<div id="sidr-menu" class="invisible">
<ul>
  <li>
    <%= link_to "Inicio", root_path %>
  </li>
  <li>
    <%= link_to "Datos personales", edit_user_registration_path %>
  </li>
  <li>
    <%= link_to "Colaboración económica", new_collaboration_path %>
  </li>
  <li>
    <%= link_to "Iniciativas ciudadanas", proposals_path %>
  </li>
  <li>
    <%= link_to "Brújula", blog_path %>
  </li>
  <li>
    <%= link_to "Equipos de Participación", participation_teams_path %>
  </li>
  <li>
    <%= link_to "Salir", destroy_user_session_path, method: :delete %>
  </li>
</ul>
</div>
