<div id="sidr-menu" class="invisible">
<ul>
  <li>
    <%= link_to "Inicio", root_path %>
  </li>
  <li>
    <%= link_to "Datos personales", edit_user_registration_path %>
  </li>
  <li>
    <%= link_to "Código QR", qr_code_path if Rails.application.secrets[:qr_enabled] %>
  </li>
  <li>
    <%= link_to "Financiación", funding_path %>
  </li>
  <li>
    <%= link_to "Salir", destroy_user_session_path, method: :delete %>
  </li>
</ul>
</div>
