<table class="js-col-sum-evolution">
  <thead>
    <th>Mes</th>
    <th>Nº de ordenes</th>
    <th>Total</th>
    <th>Remesas</th>
  </thead>
  <tbody>
    <%= render "row_month", month: 6, year: 2014 %>
    <%= render "row_month", month: 7, year: 2014 %>
    <%= render "row_month", month: 8, year: 2014 %>
    <%= render "row_month", month: 9, year: 2014 %>
    <%= render "row_month", month: 10, year: 2014 %>
    <%= render "row_month", month: 11, year: 2014 %>
    <%= render "row_month", month: 12, year: 2014 %>
    <%= render "row_month", month: 1, year: 2015 %>
    <%= render "row_month", month: 2, year: 2015 %>
    <%= render "row_month", month: 3, year: 2015 %>
    <%= render "row_month", month: 4, year: 2015 %>
    <%= render "row_month", month: 5, year: 2015 %>
    <%= render "row_month", month: 6, year: 2015 %>
    <%= render "row_month", month: 7, year: 2015 %>
    <%= render "row_month", month: 8, year: 2015 %>
    <%= render "row_month", month: 9, year: 2015 %>
    <%= render "row_month", month: 10, year: 2015 %>
    <%= render "row_month", month: 11, year: 2015 %>
    <%= render "row_month", month: 12, year: 2015 %>
    <%= render "row_month", month: 1, year: 2016 %>
    <%= render "row_month", month: 2, year: 2016 %>
    <%= render "row_month", month: 3, year: 2016 %>
    <%= render "row_month", month: 4, year: 2016 %>
    <%= render "row_month", month: 5, year: 2016 %>
    <%= render "row_month", month: 6, year: 2016 %>
  </tbody>
</table>
