<tr>
  <% date = DateTime.new(year, month, 1) %>
  <td>
    <%= date.month %> / <%= date.year %>
  </td>
  <td>
    <%= Order.to_be_paid.by_month_count(date) %> / 
    <%= Order.errors.by_month_count(date) %> / 
    <%= Order.paid.by_month_count(date) %>
  </td>
  <td>
    <%= number_to_currency(Order.to_be_paid.by_month_amount(date)) %> /
    <%= number_to_currency(Order.errors.by_month_amount(date)) %> /
    <%= number_to_currency(Order.paid.by_month_amount(date)) %>
  </td>
  <td>
    <%= link_to "Descargar", "#" %>
  </td>
</tr>
