<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %> | Podemos</title>
  <link rel="shortcut icon" href="<%= image_path("favicon.png") %>" type="image/png">
  <link rel="icon" href="<%= image_path("favicon.png") %>" type="image/png">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Podemos | Papeletas con futuro" />
  <meta property="og:image" content="http://podemos.info/wp-content/uploads/2016/05/microcreditos_papeletaconfuturo-01.png" />
  <meta property="og:description" content="Para este 26J abrimos esta campaña dirigida especialmente a financiar el envío de papeletas en todas las provincias. Elige la tuya y colabora para que los sobres con el voto de Podemos llegue al mayor número de hogares." />
  <meta name="twitter:title" content="Podemos | Papeletas con futuro" />
  <meta name="twitter:description" content="Para este 26J abrimos esta campaña dirigida especialmente a financiar el envío de papeletas en todas las provincias. Elige la tuya y colabora para que los sobres con el voto de Podemos llegue al mayor número de hogares." />
  <meta name="twitter:image" content="http://podemos.info/wp-content/uploads/2016/05/microcreditos_papeletaconfuturo-01.png" />

</head>
<body class="<%= body_class user_signed_in?, controller_name, action_name %>">
  <div class="wrap">
    <%= render partial: 'header' %>
    <div class="content">
      <%= render partial: 'flash_boxes' %>
      <%= yield %>
    </div>
    <%= render partial: 'footer' %>
    <%= render partial: 'cookie_policy' %>
    <%= render partial: 'analytics' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </div>
</body>
</html>
