<!DOCTYPE html>
<html>
<head>
  <title>PodemosJuntos</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrap">
  <%= render partial: 'header' %>

  <div class="container-fluid">
    <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div class="content">
    <%= yield %>
  </div>

  <%= render partial: 'footer' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </div>
</body>
</html>
