<!DOCTYPE html>
<html>
<head>
  <title>PodemosJuntos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Cambiar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "PODEMOS", root_path, class: "navbar-brand" %>
      </div>

      <% if user_signed_in? %>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if current_user.is_valid_user? %>
            <ul class="nav navbar-nav">
              <%= bootstrap_nav_link(t('podemos.navbar.tools'), authenticated_root_path, "glyphicon-link") %>
              <%= bootstrap_nav_link(t('podemos.navbar.profile'), edit_user_registration_path, "glyphicon-cog") %>
              <%= bootstrap_nav_link(t('podemos.navbar.notice'), notices_path, "glyphicon-exclamation-sign") %>
            </ul>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text"><%= current_user.full_name %></li>
            <li> <%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %> </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      <% end %>

    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-fluid">
    <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  <div class="footer">
    <div class="container">
      <small>
        <p><%= t('podemos.other_locales') %>:
          <%= link_to_if(I18n.locale != :es, "Castellano", url_for(locale: "es"))%> | 
          <%= link_to_if(I18n.locale != :ca, "Catalá", url_for(locale: "ca"))%> | 
          <%= link_to_if(I18n.locale != :eu, "Euskera", url_for(locale: "eu"))%>
        </p>
        <p>
        2014 podemos.info - Aviso legal - Privacidad - Baja de bases de datos y colaboraciones - Uso de Cookies
        </p>
      </small>
    </div>
  </div>

  </body>
  </html>
