<!DOCTYPE html>
<html>
<head>
  <title>PodemosJuntos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "PODEMOS", root_path, class: "navbar-brand" %>
      </div>
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container-fluid">
    <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
