<% content_for :title, "Herramienta de control de censo" %>

<div class="content-content">
  <h2><strong>Círculo:</strong> <%= current_user.vote_circle.original_name %></h2>

  <h3>Localizar inscrito</h3>
  <%= form_tag({},{id:"form_qr_code"}) do |f| %>
    <fieldset>
      <div>
        <%= content_tag(:span, "", class: "no-label", style: "display:inline-block") %>
        <% User::DOCUMENTS_TYPE.each do |name, id| %>
          <%= radio_button_tag(:document_type, id, name == "DNI", required: true, class: "input-s form-control") %>
          <%= label_tag("document_type_#{id}", name) %>
        <% end %>
      </div>
      <div class="inputlabel-box">
        <%= label_tag(:document_vatid, "Documento") %>
        <%= text_field_tag(:document_vatid, "", autocomplete: "off", required: true) %>
        <%= hidden_field_tag 'user_qr_hash' %>
      </div>
    </fieldset>
    <%= submit_tag("Buscar", class: "button") %>
  <% end %>
</div>