<% content_for :title, "Herramienta de control de censo" %>

<div class="content-content">
  <h2>Herramienta de control de censo</h2>
  <p><strong>Círculo:</strong> <%= current_user.vote_circle.original_name %></p>

  <% if @paper_vote_user %>
    <h3>Persona encontrada</h3>
    <p><%= @paper_vote_user.first_name %>, con <%= @paper_vote_user.document_type_name %> <%= @paper_vote_user.document_vatid %>, puede participar.</p>
  <% else %>
    <h3>Imposible encontrar a la persona indicada</h3>
    <p><%= link_to "Volver", "" %></p>
  <% end %>
</div>